[program:uwsgi]
command = {{ project_venv_bin_path }}/uwsgi --ini {{ uwsgi_config_file }}
autostart = true
autorestart = true
redirect_stderr = true
stopsignal = QUIT
user = {{ app_user }}

{% if ENV != 'development' %}
[program:celeryd]
environment = DJANGO_SETTINGS_MODULE={{ django_settings_file }}
command = python {{ repo_root }}/manage.py celery worker --concurrency=2 --app=comedylib.celery.config --pidfile={{ project_run_path }}/celeryd.pid -l info
autorestart = true
redirect_stderr = true
stdout_logfile = {{ project_log_path }}/celeryd.log
priority = 2
user = {{ app_user }}

[program:celerybeat]
environment = DJANGO_SETTINGS_MODULE={{ django_settings_file }}
command = python {{ repo_root }}/manage.py celery beat --app=comedylib.celery.config --pidfile={{ project_run_path }}/celerybeat.pid -s {{ project_run_path }}/celerybeat-schedule -l info
autorestart = true
redirect_stderr = true
stdout_logfile = {{ project_log_path }}/celerybeat.log
priority = 3
user = {{ app_user }}
{% endif %}

[supervisord]
logfile = {{ project_log_path }}/supervisord.log
logfile_maxbytes = 10MB
logfile_backups = 5
loglevel = info
pidfile = {{ supervisor_pid_file }}
user = {{ app_user }}

[supervisorctl]
serverurl = unix://{{ supervisor_sock_file }}

[unix_http_server]
file = {{ supervisor_sock_file }}
chmod = 0777

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
