{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<style type="text/css">
    #menu ul li {
        display: inline;
    }
    #menu li a {
        display: inline-block;
    }
</style>
<div id="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/comedians">Comedians</a></li>
        <li><a href="/shows">Shows</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
<p>Welcome! We're building things right now, so that you have a place where you find comedy that you enjoy. Stay tuned!</p>
{% endblock %}
