navlogin ul {
  z-index:9999;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
 
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; 
background: none;
}

navlogin li {
  float: left;          
}

navlogin #login {
   color:#333;
}

navlogin #login-trigger,
navlogin #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #fff;
  
}

navlogin #signup p {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  }

navlogin #login-trigger {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;

}
navlogin #login-trigger span{
  font:11px Arial, Helvetica, sans-serif;

}


navlogin #login-trigger:hover,
navlogin #login .active a:hover {
  color: #ddd;
  background: #222;
border:1px solid #333;  
}

navlogin #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 9999;    
  background: #fff;
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

navlogin li #login-content {
  right: 0;
  width: 260px; 
 z-index: 9999;
 
 
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {		
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffbe73), color-stop(1, #ff8800) );
	background:-moz-linear-gradient( center top, #ffbe73 5%, #ff8800 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe73', endColorstr='#ff8800');
	background-color:#ffbe73;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #bf7c30;
	display:inline-block;
	color:#eee;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	
}

#login #submit:hover,
#login #submit:focus {		
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8800), color-stop(1, #ffbe73) );
	background:-moz-linear-gradient( center top, #ff8800 5%, #ffbe73 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8800', endColorstr='#ffbe73');
	background-color:#ff8800;
}	

#login #submit:active {		
position:relative;
	top:1px;		
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;

}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
#login-content .center {
text-align: center;
padding:10px;
}
#login-content .center .socialsign {
/*border:1px solid #ccc;*/
width:100%;
padding:3px;
align:left;
}
#login-content .lthru {
text-decoration: line-through;
color: #ccc;
}
#login-content .or {
font-size: 93%;
font-weight: bold;
}

/*--------------------------Login TAB------------*/
navlogin #login #login-content #loginregistermenu ul {
list-style: none;
    padding: 0px 0 0px 0;
    margin: -5px 0px 0px -5px;
    font: bold 14px  Arial, Helvetica, sans-serif;
	float:left;
	border-bottom:none;
	background:none;
}

navlogin #login #login-content #loginregistermenu ul li {
 display: table;
 float:left;
 margin-right:3px;
}

navlogin #login #login-content #loginregistermenu ul li a {
 text-transform: uppercase;
display: table-cell;
color:#650337;
 border: 1px solid #A52D00;
    padding: 5px 10px 3px 10px;
	text-align:center;
    text-decoration: none;
    background-color: #eeeeee;
     outline: none;
  
 border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;


}

navlogin #login #login-content #loginregistermenu ul li a:hover {
 background-color: #dddddd;
     padding: 5px 10px 3px 10px;
	color: #000;


}
navlogin #login #login-content #loginregistermenu ul li.active a {
    z-index:100;
	border-bottom: none;
    background: #fff;
    padding: 5px 10px 7px 10px;
   	color: #000;
 border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;

	
}
navlogin #login #login-content #loginregistermenu ul li.active a:hover {
    z-index:100;
	background-color: #eeeeee;
    padding: 5px 10px 7px 10px;
    border-bottom: none;
	background: #fff; /* Old browsers */


}

navlogin #login #login-content #loginregistermenu #Content_Area_loginregister { /*// this is the css class for the content displayed in each tab*/
z-index:50;
border: 1px solid #A52D00;
 /* border-top: none;*/
   	margin-left:-5px;
	margin-top:-1px;
	width: 270px;
	height:270px;
	display:block;
	float:left;
/*#e893c0; /* Old browsers */

}

navlogin #login #login-content #loginregistermenu p { 
font: 12px Arial, Helvetica, sans-serif;
padding: 5px; 
padding-top:10px;
color:#099502;
}
navlogin #login #login-content #loginregistermenu #Content_Area_loginregister #tab7{
padding:5px;

}
navlogin #login #login-content #loginregistermenu #Content_Area_loginregister #tab8{
padding:5px;
}
navlogin #login #login-content #loginregistermenu #Content_Area_loginregister h2{ /*// this is the css class for the content displayed in each tab*/
padding:5px 5px 10px 5px;
color: #333;
}


/*88888888888888888888888888888888888888888888888888888888888888888888888*/
navprofile ul {
  z-index:9999;
  margin: 0;
  padding: 0;
  width:145px;
  height:30px;
  margin-top:4px;
  list-style: none;
  position: relative;
  float: right;
position:relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; 

}

navprofile li {
  float: left;          
}

navprofile #menu {
   color:#333;
}

navprofile #menu-trigger,
navprofile #signup a {
  display: block;
  *display: inline;
  *zoom: 1;
  height: 30px;
  padding:5px;
  width:145px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background:url(/static/img/menutrigger.png) 0px 0px;
  
}

navprofile #menu-trigger p {
color:#A57400;
text-indent:5px;
margin:3px;
width:135px;
 padding:5px;
  text-align:left;
   font: bold 1.1em Arial, Helvetica, sans-serif;
  }

navprofile #menu-trigger {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
 padding:0;list-style:none;position:absolute;top:0;

}
navprofile #menu-trigger span{
  font:1em Arial, Helvetica, sans-serif;
 color:#A57400;
  margin:2px;

}


navprofile #menu-trigger:hover,
navprofile #menu .active a:hover {
background-position:0 30px;
  color: #ddd;

 
}

navprofile #menu-content {
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
  z-index: 9999;    
  background: #fff;
  margin:0;

  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 0px 0 4px 4px;
  -webkit-border-radius: 0px 0 4px 4px;
  border-radius: 0px 0 4px 4px;
  
}

navprofile li #menu-content {

  right: 0;
  width: 145px; 
   min-height:63px;
 z-index: 9999;
}
navprofile li #menu-content a{
text-align:left;
text-indent:10px;
font: bold 1em Arial, Helvetica, sans-serif;
margin-left:0px;
padding:9px 0 9px 3px;
float:right;
clear:both;
width:145px;

text-transform:uppercase;
color:#3CA0D0;
}
navprofile li #menu-content a:hover{

 color:#FFC640;
}
.settings-icon{
padding:0;list-style:none;position:absolute;top:0;
background:url(/static/img/menutrigger.png) 45px 0px;
height:30px;
line-height:27px;
width:27px;
text-indent:30px;
display:block;
}
.logout-icon{
padding:0;list-style:none;position:absolute;
background:url(/static/img/menutrigger.png) 45px 30px;
height:30px;
line-height:27px;
width:27px;
text-indent:30px;
display:block;
}