<div class="login-er-content">
	   <form method="post" action="{% url accounts_login %}">
		{% csrf_token %}
		<fieldset id="inputs">
			<input id="id_email" type="text" name="email" placeholder="Your email" required>   
			<input id="id_password" type="password" name="password" placeholder="Password" required>
		</fieldset>
		<fieldset id="actions">
			<input type="checkbox" value="remember" class="regular-checkbox"><label> Keep me signed in</label>
			<input type="submit" id="submit" value="Log in">
			<input type="hidden" name="next" value="{{ request.path }}" />
		</fieldset>
	</form>
	<div class="cleared"></div>
	<div class="center">
		<span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span class="or">&nbsp; OR &nbsp;</span>
		<span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		
		<div class="centersocial">
		<a href="{% url socialauth_begin 'facebook' %}?next={{ request.path }}" id="fbtnlnk" class="socialsign"><img src="/static/img/fbbtn.png"></a>
		<a href="{% url socialauth_begin 'google-oauth2' %}?next={{ request.path }}" id="gbtnlnk" class="socialsign"><img src="/static/img/gbtn.png"></a>
	</div>
	</div> <!-- end center-->
</div> <!-- end login-er-content-->