        		<div class="cleared"></div>
        </div>
    </div>
    <div class="footer">
	        <div class="footer-body">
    <div id="footerpage">
     <!-- #1st Column -->
	 <div id="column1">
<p>Welcome! We're building things right now, so that you have a place where you find comedy that you enjoy. Stay tuned!</p>
	</div>

	<!-- #2nd Column -->
	<div id="column2">
<p>Welcome! We're building things right now, so that you have a place where you find comedy that you enjoy. Stay tuned!</p>
	</div>

	<!-- #3rd Column -->
	<div id="column3">
<p>Welcome! We're building things right now, so that you have a place where you find comedy that you enjoy. Stay tuned!</p>
	</div>
	<!-- #4thColumn -->
	<div id="column4">
<p>Welcome! We're building things right now, so that you have a place where you find comedy that you enjoy. Stay tuned!</p>
	</div>
    
</div>     
		 <div class="cleared"></div>
		<div class="footer-center">
		<ul class="navfooter">
			<li><a href="/">Home</a></li>
			<li><a href="/comedians">Comedians</a></li>
			<li><a href="/shows">Shows</a></li>
			<li><a href="/movies">Movies</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul> 
</div>
 <div class="cleared"></div>
 
 
	<div id="credits">
	<center>Designed by <a href="http://mowiti.com" target="_blank"><img src="{{ STATIC_URL }}img/mowitilogo.png"></a></center>
	</div>
   
						
                  
                
            
            <div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>

	</div>
    
	
</body>
</html>