<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="ROBOTS" content="ALL" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="comedyhub.com" />
    <meta name="keywords" content="Comedians, series, movies" />
    <meta name="description" content="This is a database with most of the comedians on the planet" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slider.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery160.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousellite_1.0.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js" ></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-tabs-rotate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.expander.js" ></script> 
    <script type='text/javascript' src='{{ STATIC_URL }}mediaplayer/jwplayer.js'></script>
  </head>
<body>
<div id="main">
  <div class="cleared reset-box"></div>
    <div class="header">
	<div class="header-position">
	<div class="headtitlelogin">
		<div class="titlecontent"> 
			<h1><a href="/"><img src="{{ STATIC_URL }}img/lclear.png"></a></h1>
		</div>
		<div class="searchcontent">
			<div id="search">
				{% include "search.html" %}
			</div> <!--end search-->
		</div>
		{% if request.user.is_authenticated %}
			<div class="logincontent-user">
				<div class="avatar">
					<a href=""><img src="/static/img/logo.jpg"></a>
				</div>
				<div class="welcome">
					{% include "profilemenu.html" %}
				<!--	<p>Howdy, <span> First Name </span></p>
					
					<div class="logout">
						<a href="/a/logout">Logout</a>
					</div>
					<div class="separator">|</div>
					<div class="settings">
						<a href="/settings">Settings</a>
					</div> -->
				</div>
				<!--<div class="tools">
					<div class="notifications">
					
					</div>
					<div class="playlist-notifier">
					
					</div>
					<div class="messages">
					
					</div>
					
				</div>  -->
				
			</div> <!--end logincontent-nouser-->
		{% else %}
			<div class="logincontent-nouser">
				<div id="register">	
					<!--<ul>
						<li><a href="/a/login">Login</a></li>
						<li><a href="/a/register">Register</a></li>
					</ul>-->
					{% include "logindrop.html" %}
				</div> <!--end register-->
				<div class="why">
					<a href="#">Why register?</a>
				</div>
			</div> <!--end logincontent-nouser-->
		{% endif %}
	</div>
	<div class="headnav">
		<div id="nav">
			<ul class="nav">
				<li><a href="/comedians">Comedians</a></li>
				<li><a href="/shows">Shows</a></li>
				<li><a href="/movies">Movies</a></li>
				<li class="end"><a href="/playlists">Playlists</a></li>
			</ul>
		</div> <!--end nav-->
	</div>
	<div class="breadcrumbs" id="breadcrumbs">
		<p>
		{% for breadcrumb in request.breadcrumbs %}
		  {% if not forloop.last %}
			<a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> <span>&raquo;</span>
		  {% else %}
			{{ breadcrumb.name }}
		  {% endif %}
		{% endfor %}
		</p>
	</div>
		<!--<div class="header-inner"> -->
				
	<!-- <div id="title"> <h1><a href="/"><img src="{{ STATIC_URL }}img/lclear.png"></a></h1>
		</div>
		
<!--    <div id="menu">	
		
<!--	  <div class="cleared reset-box"></div>
<!--	</div> <!--end menu-->
<!--	{% block alphabetnav %}{% endblock %}
	  <div class="cleared reset-box"></div>
   -->
	<!-- </div> <!--end header-inner-->
	</div><!--end header-position-->
	</div><!--end header-->
	<div class="cleared reset-box"></div>
