<script>
$(function() {
    $(".anyClass").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev"
    });
});
 </script>

<button class="prev"></button>

        
<div class="anyClass">
    <ul >
        <li>
			<div id="v1" class="divvid">
				<div id="thumbvid">
				<a href="/video/"><img src="{{ STATIC_URL }}img/videothumb.jpg" alt=""  ></a>
				</div>
				<div class="titlevid">
				<a href="/">titlu 1</a>
				</div>
				<div id="lengthtime">
					4:18 <br>
					3 days ago 
				</div>
				<div id="nviews">
					100000000 views
				</div>
			</div>
		</li>
        <li>
			<div id="v2" class="divvid">
				<div id="thumbvid">
				<a href="/"><img src="{{ STATIC_URL }}img/videothumb.jpg" alt=""  ></a>
				</div>
				<div class="titlevid">
				<a href="/">titlu 2</a>
				</div>
				<div id="lengthtime">
					4:18 <br>
					3 days ago 
				</div>
				<div id="nviews">
					100000000 views
				</div>
			</div>
		</li>
		<li>
			<div id="v3" class="divvid">
				<div id="thumbvid">
				<a href="/"><img src="{{ STATIC_URL }}img/videothumb.jpg" alt=""  ></a>
				</div>
				<div class="titlevid">
				<a href="/">titlu 3</a>
				</div>
				<div id="lengthtime">
					4:18 <br>
					23 hours ago 
				</div>
				<div id="nviews">
					100 views
				</div>
			</div>
		</li>
		<li>
			<div id="v5" class="divvid">
				<div id="thumbvid">
				<a href="/"><img src="{{ STATIC_URL }}img/videothumb.jpg" alt=""  ></a>
				</div>
				<div class="titlevid">
				<a href="/">titlu 5</a>
				</div>
				<div id="lengthtime">
					4:18 <br>
					3 years ago 
				</div>
				<div id="nviews">
					700000 views
				</div>
			</div>
		</li>
		<li>
			<div id="v6" class="divvid">
				<div id="thumbvid">
				<a href="/"><img src="{{ STATIC_URL }}img/videothumb.jpg" alt=""  ></a>
				</div>
				<div class="titlevid">
				<a href="/">titlu 6</a>
				</div>
				<div id="lengthtime">
					35:18 <br>
					3 days ago 
				</div>
				<div id="nviews">
					120000 views
				</div>
			</div>
		</li>
		<li>
			<div id="v7" class="divvid">
				<div id="thumbvid">
				<a href="/"><img src="{{ STATIC_URL }}img/videothumb.jpg" alt=""  ></a>
				</div>
				<div class="titlevid">
				<a href="/">titlu 7</a>
				</div>
				<div id="lengthtime">
					4:18 <br>
					3 days ago 
				</div>
				<div id="nviews">
					80000 views
				</div>
			</div>
		</li>
    </ul>
</div>
<button class="next"></button>	
