{% extends "profiles/home.html" %}
{% block title %}Comedylib - Bookmarked {{post_type}}s of {{user.username}}{% endblock %}
{% block profile_content %}
{% load thumbnail %}
<div class="col-xs-12 col-sm-10">
    <h5>Bookmarked {{ post_type }}s</h5>
        {% if post_type == 'Video' %}
        <ul class="bookmarks">  
        {% for bookmark in bookmarks %}
            <li class="collection-content">
                <div class="row">
                    <a href="{{ bookmark.post.get_absolute_url }}" class="col-xs-12">
                        <img src="{% thumbnail bookmark.post.picture 142x110 crop %}" alt="Video image"/>
                    </a>
                    <div class="col-xs-12 info">
                        <div class="coll-front-name-content">
                            <a href="{{ bookmark.post.get_absolute_url }}" title="{{ bookmark.post.title}}">{{ bookmark.post.title|truncatechars:50 }}</a>
                        </div> 
                        <a class="coll-front-name-content collection" href="{{ bookmark.post.collection.get_absolute_url }}" title="{{ bookmark.post.collection.name }}">{{ bookmark.post.collection.name|truncatechars:35 }}</a>
                        <div class="row details text-center">
                            <div class="col-xs-4">
                                <p>{{ bookmark.post.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col-xs-4 nviews">
                                <p>{{ bookmark.post.views }}</p> <span>Views</span>
                            </div>
                            <div class="col-xs-4">
                                <p>{{ bookmark.post.rating }}%</p>
                                <span>Rating</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
                    {% empty %}
            <li>There are no videos here, yet.</li>
                    {% endfor %}
        </ul>
{% else %}
     <ul class="random-playlist">
    {% for bookmark in bookmarks %}
    <li class="playlist-content">
                <div class="play-pic-content">
                    <a class="text-center playallmain" href="{{ bookmark.post.videos.all.0.get_absolute_url }}?pl={{ bookmark.post.id }}"><span class="glyphicon glyphicon-play"></span> Play all</a>
                    <img src="{% thumbnail bookmark.post.videos.all.0.picture 144x110 crop %}" alt="First playlist image"/>
                    <div class="sidebar">
                        <p class="text-center">{% with videos=bookmark.post.videos.count %} {{ videos }}{% endwith %}<br/>Videos</p>
                        <img src="{% thumbnail bookmark.post.videos.all.1.picture 42x31 crop %}" class="mini" alt="Second playlist image"/>
                        <img src="{% thumbnail bookmark.post.videos.all.2.picture 42x31 crop %}" class="mini" alt="Third playlist image"/>
                    </div>
                </div>
                <div class="play-name-content">
                    <a href="{{ bookmark.post.videos.all.0.get_absolute_url }}?pl={{ bookmark.post.id }}" title="{{ bookmark.post.title }}">{{ bookmark.post.title|truncatechars:40 }}</a>
                </div>
                <div class="play-detail-content">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <span>Bookmarks</span> <p>{{ bookmark.post.bookmarks_count }}</p>
                        </div>
                        <div class="col-xs-6">
                           <span class="user-header">User</span><a href="{{bookmark.post.profile.get_absolute_url}}">{{ bookmark.post.profile.user.username }}</a>
                        </div> 
                    </div>
                </div>
            </li>
     
            {% empty %}
        <li>You have no playlists, yet.</li>
                {% endfor %}
    
                {% endif %}

    
</div>
{% endblock %}
