{% extends "base.html" %}
{% block content %}
{% block title %}{{ page_title }}{% endblock %}
<div class="section group">
    <div class="col colbkg1 span_1_of_6">
        <a href="/u/"><h6>{{ user.username }}</h6></a>
        <div class="user-header">
            <div class="foto">
                <a href="/u/"><img src="{{ STATIC_URL }}img/foto-profil.jpg" alt="foto profil"></a>
            </div>
        </div>
        <div id="tabs2" class="user-tabs">
            <ul>
                <li><a href="/u/playlists/">My Playlists</a></li>
                <li><a href="/u/bookmarks/">Bookmarked Videos</a></li>
                <li><a href="#playlist-bookmark">Bookmarked Playlists</a></li>
                <li><a href="/u/likes/"id="lv_btn">Liked Videos</a></li>
            </ul>
        </div>
    </div>
    <div class="col span_5_of_6 colbkg">
        <div class="section group">
            <div class="col span_1_of_3 colbkg1">
                {{recent_comments}}
            </div>
            <div class="col span_1_of_3 colbkg1">
                {{recent_playlists}}
            </div>
            <div class="col span_1_of_3 colbkg1">
                {{recent_likes}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
