{% extends "profiles/home.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block profile_content %}
<div class="col span_5_of_6">
    <h5>Liked Videos</h5>
    <div class="section group">
        {% for video in liked_videos %}
            <div class="col span_1_of_5 col5">
                <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}"><img src="{{ video.picture.url }}"></a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                        <div class="section group">
                            <div class="col span_1_of_4_coll_det vlength">
                                <p>{{ video.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col span_2_of_4_coll_det nviews">
                                <p>{{ video.views }}</p> <span>Views</span>
                            </div>
                            <div class="col span_1_of_4_coll_det rating">
                                <p>{{ video.rating }} %</p> <span>Rating</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>You haven't liked any videos.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
