{% extends "profiles/home.html" %}
{% block title %}Comedylib - {{ user.username }}'s playlists{% endblock %}
{% block profile_content %}
<div class="col-xs-12 col-sm-10">
    {% if user.profile == profile %}
        <h5>Create playlist</h5>
        <form id="playlistform" action="{% url create_playlist %}" method="post">{% csrf_token %}
            <input id="id_title" type="text" name="title" maxlength="255" placeholder="Type the playlist name">
            <input type="submit" id="sub" value="Create playlist" />
             <div class="feedback"><p id="feedback" class="helptextred"> </p></div>
        </form>
    {% endif %}
    <h5>Playlists</h5>
    <ul class="random-playlist">
        {% for playlist in playlists %}
            {% with videos=playlist.videos.all %}
                {% include 'profiles/partials/playlist.html' %}
            {% endwith %}
        {% empty %}
            <li>No playlists found.</li>
        {% endfor %}
    </div>
</div>
<script>
    $(document).on("click", "#deletebtn", function(event) {
        event.preventDefault();
        var r=confirm("Are you sure you want to delete this playlist?");
        if (r==true) {
            a = $(this);
            $.post('{% url delete_playlist %}', {'pid': a.attr('data-playlist-id') }, function(data) {
                $('#play'+a.attr('data-playlist-id')).fadeOut(); 
            });
            return false;
        }
    });
    $(function(){
        $('[rel="tooltip"]').tooltip();
    });
</script>
{% endblock %}
