{% extends "profiles/playlists.html" %}
{% block title %}Comedylib - Playlists of {{user.username}}{% endblock %}
{% block profile_content %}
{% load thumbnail %}
<script type='text/javascript' src='{{ STATIC_URL }}js/notify.js'></script> 
<div class="col-xs-12 col-sm-10" data-playlist-id={{ playlist.id }}>
    <h5>{{ playlist.title }}</h5>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Update playlist name</h1>
            <form id="playlistform" action="{% url edit_playlist playlist.slug playlist.id %}" method="post">{% csrf_token %}
                <input id="id_title" type="text" name="title" maxlength="255" value="{{ playlist.title }}">
                <input type="submit" id="sub" value="Save" class="playlist-input" />
            </form>
        </div>
        <div class="col-xs-12">
            
            <div class="section group playlist-edit"> 
                <ul id="sortable" class="connectedSortable random-video">
                    <li class="collection-front-content li-disabled" >
                        <p class="text-center">Drag & drop to re-arrange the videos</p>
                    </li>
                    {% for video in playlist.videos.all %}
                        <li class="collection-front-content" data-video-id="{{ video.id }}" id="vid{{ video.id }}">
                            <a id="removebtn" data-video-id="{{ video.id }}" data-toggle="tooltip" class="remove" href="#" rel="tooltip" title="Delete playlist"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="{{ video.get_absolute_url }}" class="col-xs-4">
                                    <img src="{% thumbnail video.picture 97x92 crop %}" alt="Video image"/>
                            </a>
                            <div class="col-xs-8 info">
                                <div class="coll-front-name-content">
                                    <a href="{{ video.get_absolute_url }}" title="{{ video.title}}">{{ video.title|truncatechars:56 }}</a>
                                </div> 
                                <a class="coll-front-name-content collection" href="{{ video.collection.get_absolute_url }}" title="{{ video.collection.name }}">{{ video.collection.name|truncatechars:26 }}</a>
                                <div class="row details text-center">
                                    <div class="col-xs-4">
                                        <p>{{ video.duration }}</p><span>Length</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <p>{{ video.views }}</p> <span>Views</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <p>{{ video.rating }}%</p>
                                        <span>Rating</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li>This playlist has no videos.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <form id="playlistform" action="{% url edit_playlist playlist.slug playlist.id %}" method="post">{% csrf_token %}
                <div class="playlist-input"><input type="submit" id="sub" value="Save"  /></div>
            </form>
        </div>
    </div>
<script>

    $(function() {
        $("#sortable").sortable({connectWith: ".connectedSortable", placeholder: "collection-front-content-transparent",items: "li:not(.li-disabled)",distance: 15});
        $("#sortable").disableSelection();
    });
       
    $(document).on("click", ".playlist-input", function(event) {
     
        $.notify("Saved", "success", { position:"top center"}
        );
    });
    $(document).on("click", "#removebtn", function(event) {
        event.preventDefault();
        var r = confirm("Are you sure you want to delete the video from this playlist?");
        if (r === true) {
            a = $(this);
            $.post('{% url remove_from_playlist %}',
                    {'vid': a.attr('data-video-id'), 'pid': {{ playlist.id }} },
                    function(data) { $('#vid'+a.attr('data-video-id')).slideUp('normal'); });
            return false;
        }
    });
    $(document).on("submit", "#playlistform", function(event) {
        event.preventDefault();
        var update_data = {
            video_order: $('#sortable').sortable('toArray', {attribute: 'data-video-id'}),
            playlist_id: $('.playlist').attr('data-playlist-id'),
            playlist_title: $('#id_title').val()
        },
            url = $('#playlistform').attr('action');
        $.post(url, update_data, function(data) {});
    });
    $(function(){
       $('[rel="tooltip"]').tooltip();
    });
</script>
</div>
{% endblock %}
