{% extends "base.html" %}
{% block content %}
{% block title %}{{ page_title }}{% endblock %}
<div class="section group">
    <div class="col colbkg1 span_1_of_6">
        <a href="/u/"><h6>{{ user.username }}</h6></a>
        <div class="user-header">
            <div class="foto">
                <a href="/u/"><img src="{{ STATIC_URL }}img/foto-profil.jpg" alt="foto profil"></a>
            </div>
        </div>
        <div id="tabs2" class="user-tabs">
            <ul>
                <li><a href="/u/playlists/">My Playlists</a></li>
                <li><a href="/u/bookmarks/">Bookmarked Videos</a></li>
                <li><a href="#playlist-bookmark">Bookmarked Playlists</a></li>
                <li><a href="/u/likes/"id="lv_btn">Liked Videos</a></li>
            </ul>
        </div>
    </div>
    {% block profile_content %}
    <div class="col span_5_of_6">
        <h1>Create playlist</h1>
        <form name="input" action="{% url create_playlist %}" method="post">{% csrf_token %}
            {{ playlist_form.as_p }}
            <input type="submit" value="Create playlist">
        </form>
        <h1>Playlists</h1>
         <div class="section group">
        {% for playlist in playlists %}
         <div class="col span_1_of_3 col3">
                <div class="playlist-content">
                 <div class="section group">
                    <div class="play-pic-content col span_1_of_3">
                        <a href="{{ playlist.get_absolute_url }}"><img src="{{ playlist.videos.all.0.picture.url}} "></a>
                    </div>
                    <div class="play-detail-content col span_2_of_3">
                        <div class="nvideo">
                            <span>Videos</span><div class="paragraph">
                                         {% with videos=playlist.videos.count %}
                                    <p>{{ videos }} </p>
                                {% endwith %}
                            
                            </div> 
                        </div>
                        <div class="user">
                            <span>User</span><a href="#">{{ playlist.profile_id }}</p>
                        </div>
                    </div>
                 </div>   
                    <div class="play-name-content">
                        <a href="{{ playlist.get_absolute_url }}">{{ playlist.title }}</a>
                    </div>
                </div>
            </div>
          
        {% empty %}
            <p>No playlists found.</p>
        {% endfor %}
        </div>
     
        {% endblock %}
    </div>
</div>
{% endblock %}
