{% extends "profiles/playlists.html" %}
{% block profile_content %}
<div class="col span_5_of_6">
    <h5>{{ playlist.title }}</h5>
    <div class="section group">
         {% for video in playlist.videos.all %}
            <div class="col span_1_of_5 col5" id="vid{{ video.id }}">
                <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                         <div class="buttons">
                             <a id="removebtn" data-video-id="{{ video.id }}" class="remove" href="#" title="Remove video from playlist"><i class="icon-trash"></i></a>
                        </div>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                        <div class="section group">
                            <div class="col span_1_of_4_coll_det vlength">
                                <p>{{ video.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col span_2_of_4_coll_det nviews">
                                <p>{{ video.views }}</p> <span>Views</span>
                            </div>
                            <div class="col span_1_of_4_coll_det rating">
                                <p>{{ video.rating }} %</p> <span>Rating</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        {% empty %}
            <p>This playlist has no videos.</p>
        {% endfor %}
    </div>
</div>
<script>
    $(document).on("click", "#removebtn", function(event){
        event.preventDefault();
            var r=confirm("Are you sure you want to delete the video from this playlist?");
            if (r==true)
                {
                a = $(this);
                $.post('{% url remove_from_playlist %}', {'vid': a.attr('data-video-id'), 'pid': {{ playlist.id }} }, function(data) {
                    $('#vid'+a.attr('data-video-id')).slideUp('normal');
                });
                return false;
                }
            else
            {
               
            }
    });
</script>

{% endblock %}
