{% extends "profiles/home.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block profile_content %}
<script>
  $(function() {
    {% if picture_form.is_bound %}
        $("#tabs").tabs({'active': 0});
    {% else %}
        {% if password_form.is_bound %}
            $("#tabs").tabs({'active': 1});
        {% else %}
            $("#tabs").tabs();
        {% endif %}
    {% endif %}
  });
  </script>
<div class="col span_5_of_6">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Change your avatar</a></li>
            <li><a href="#tabs-2">Change your password</a></li>
        </ul>
        <div id="tabs-1">
            <form enctype="multipart/form-data" method="post" action="{% url settings %}" class="form">{% csrf_token %}
                <div id="fieldWrapper"> 
                    <p>Select only .jpg, .jpeg, .png or .gif format</p>
                </div>
                {{ picture_form.non_field_errors }}
                <div id="fieldWrapper">
                    {{ picture_form.picture.errors }}
                </div>
                <p><input type="file" name="picture" id="id_picture" placeholder="Picture" class="st"/>
                
                
                <input type="submit" value="Update" class="button" />
                
                
            </form>
            
        </div>
        <div id="tabs-2">
            <form method="post" action="{% url settings %}" class="form">{% csrf_token %}
                {{ password_form.non_field_errors }}
                <div id="fieldWrapper">
                    {{ password_form.old_password.errors }}
                </div>
                <p><input type="password" name="old_password" id="id_old_password" placeholder="Old Password" class="small"/></p>
               <div id="fieldWrapper">
                    {{ password_form.new_password1.errors }}
               </div>
                <p><input type="password" name="new_password1" id="id_new_password1" placeholder="New Password" class="small"/></p>
                <div id="fieldWrapper">
                    {{ password_form.new_password2.errors }}
                </div>
                <p><input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm Password" class="small"/> <span class="helptextdark">Enter the same password as above, for verification.</span></p>
                <input type="submit" value="Update" class="button" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
