 {% extends "base.html" %}
{% block content %}
{% block title %}{{ page_title }}{% endblock %}
 <script>
    $(function() {
        $( "#tabs" ).tabs();
		 });
    </script>
<div id="firstpage">
   	 <div class="user-sidebar">
		<div class="user-header">
			<div class="foto">
			<img src="{{ STATIC_URL }}img/foto-profil.jpg" alt="foto profil">
			</div>
			
			<div id="tabs1" class="foto-menu">
				<ul>
					<li><a href="#public">Public profile</a></li>
					<li><a href="#uset">Profile settings</a></li>
					<li><a href="#aset">Account settings</a></li>
					<li><a href="#messages">Messages</a></li>
				</ul>
			</div>
		</div>
		
		<div id="tabs2" class="user-tabs">
			<ul>
				<li><a href="#my-playlists">My Playlists</a></li>
				<p>My bookmarks</p>
				<li><a href="#video-bookmark">Videos</a></li>
				<li><a href="#playlist-bookmark">Playlists</a></li>
				<p>Likes</p>
				<li><a href="#liked-videos">Videos</a></li>
			</ul>
		
		</div>
	 </div>
	 
	<div class="user-content">
		<div id="my-playlists" class="my-playlist">
		<p>my playlists</p>
		</div>
		
		<div id="video-bookmark" class="my-playlist">
		<p>bookmark video</p>
		</div>

		<div id="playlist-bookmark" class="my-playlist">
		<p>bookmark playlist</p>
		</div>
		
		<div id="liked-videos" class="my-playlist">
		<p>Like videos</p>
		</div>
		
		<div id="public" class="my-playlist">
		<p>public profile</p>
		</div>
		
		<div id="uset" class="my-playlist">
		<p>profile settings</p>
		</div>
		
		<div id="aset" class="my-playlist">
		<p>Account settings</p>
		</div>
		
		<div id="messages" class="my-playlist">
		<p>Messages</p>
		</div>
		
	</div>
	
</div>
  <style type="text/css">
	div.inactive {
			display: none;
		}
    </style>
<script src="{{ STATIC_URL }}js/activatables.js" type="text/javascript"></script>
<script type="text/javascript">
activatables('section', ['my-playlists', 'video-bookmark', 'playlist-bookmark', 'liked-videos', 'public', 'uset', 'aset', 'messages' ]);
</script>
{% endblock %}