.signin_content{
margin:3px;
width:172px;
height:186px;

}
/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 4px 5px;
  margin: 0 0 5px 0;
  width: 160px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#actions {
  margin: 0px 0 0 0;
}

 #submit {	
margin-left:45px;
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffbe73), color-stop(1, #ff8800) );
	background:-moz-linear-gradient( center top, #ffbe73 5%, #ff8800 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe73', endColorstr='#ff8800');
	background-color:#ffbe73;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #bf7c30;
	display:inline-block;
	color:#eee;
	font-family:arial;
	font-size:0.938em;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	
}

#submit:hover,
 #submit:focus {		
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8800), color-stop(1, #ffbe73) );
	background:-moz-linear-gradient( center top, #ff8800 5%, #ffbe73 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8800', endColorstr='#ffbe73');
	background-color:#ff8800;
}	
 #submit:active {		
position:relative;
	top:1px;		
}

 #submit:-moz-focus-inner {
  border: none;
}

 label {
  float: left;
  line-height: 30px;

}
label input {
  position: relative;
  top: 2px;
  right:0px;
}
#checkbox-keep{
padding:3px;
}
.signin_content .center {
text-align: center;
padding:10px;
}
.signin_content .center .socialsign {
/*border:1px solid #ccc;*/
width:100%;
padding:3px;
text-align:left;
}
.signin_content .lthru {
text-decoration: line-through;
color: #bbb;
}
.signin_content .or {
font-size: 93%;
font-weight: bold;
color: #bbb;
}
.signin_content .center .centersocial{
width:80px;
height:30px;
text-align:center;
display:block;
margin:3px auto;
padding-left:10px;
}

.signin_content .center .centersocial  img {
width:30px;
}
#fbtnlnk{float:left}
#gbtnlnk{float:left}

/*--------------------------Login TAB------------*/
navlogin #login #login-content #loginregistermenu ul {
list-style: none;
    padding: 0px 0 0px 0;
    margin: -5px 0px 0px -5px;
    font: bold 1.125em  Arial, Helvetica, sans-serif;
	float:left;
	border-bottom:none;
	background:none;
}

navlogin #login #login-content #loginregistermenu ul li {
 display: table;
 float:left;
 margin-right:3px;
}

navlogin #login #login-content #loginregistermenu ul li a {
 text-transform: uppercase;
display: table-cell;
color:#650337;
 border: 1px solid #A52D00;
    padding: 5px 10px 3px 10px;
	text-align:center;
    text-decoration: none;
    background-color: #eeeeee;
     outline: none;
  
 border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;


}

navlogin #login #login-content #loginregistermenu ul li a:hover {
 background-color: #dddddd;
     padding: 5px 10px 3px 10px;
	color: #000;


}
navlogin #login #login-content #loginregistermenu ul li.active a {
    z-index:100;
	border-bottom: none;
    background: #fff;
    padding: 5px 10px 7px 10px;
   	color: #000;
 border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;

	
}
navlogin #login #login-content #loginregistermenu ul li.active a:hover {
    z-index:100;
	background-color: #eeeeee;
    padding: 5px 10px 7px 10px;
    border-bottom: none;
	background: #fff; /* Old browsers */


}

navlogin #login #login-content #loginregistermenu #Content_Area_loginregister { /*// this is the css class for the content displayed in each tab*/
z-index:50;
border: 1px solid #A52D00;
 /* border-top: none;*/
   	margin-left:-5px;
	margin-top:-1px;
	width: 270px;
	height:270px;
	display:block;
	float:left;
/*#e893c0; /* Old browsers */

}

navlogin #login #login-content #loginregistermenu p { 
font: 0.75em Arial, Helvetica, sans-serif;
padding: 5px; 
padding-top:10px;
color:#099502;
}
navlogin #login #login-content #loginregistermenu #Content_Area_loginregister #tab7{
padding:5px;

}
navlogin #login #login-content #loginregistermenu #Content_Area_loginregister #tab8{
padding:5px;
}
navlogin #login #login-content #loginregistermenu #Content_Area_loginregister h2{ /*// this is the css class for the content displayed in each tab*/
padding:5px 5px 10px 5px;
color: #333;
}
