
div#thumbvid a{
text-transform: none ;
background: none ;
border:none ;
display: block ;
padding: 0 ;
}
div#thumbvid a img{
display: block ;
border:none ;
padding: 0px ;
background:none ;
}

.titlevid{
font: bold 12px Arial, Helvetica, sans-serif; 
text-align:justify;	
padding: 2px;
/*border: 1px solid #f0f;*/
width:167px;
height:30px;
color: #F6C162 ;
}
div.titlevid a{
font: bold 12px Arial, Helvetica, sans-serif;
text-align:justify ;
padding: 0px;
color: #FF9973 ;
text-transform: none ;
background: none ;
border:none ;
display: block ;
}
div.titlevid a:hover{
color: #FFD573 ;

}


#lengthtime{
float:left;
/*border: 1px solid #f0f;*/
width:64px;
height:22px;
font:  11px Arial, Helvetica, sans-serif;
line-height:100%;
padding:1px 0 0 3px;
color:#ddd;
}

#nviews{
float:right;
/*border: 1px solid #f0f;*/
width:100px;
height:22px;
font:  11px Arial, Helvetica, sans-serif;
line-height:90%;
padding:3px 3px 0 0;
color:#ddd;
text-align:right;
}
.ulvidclass ul li a{
font: bold 12px Arial, Helvetica, sans-serif;
text-align:justify;	
text-transform:none;
color: #F6C162;
}
/*---------Playlist Slider--------------------*/
#featured{ 
	margin:5px;
	width:730px; 
	padding-right:250px; 
	position:relative; 
	min-height:395px;

	/*background:#fff;
	border:5px solid #ccc;*/
}
/* The navigation tabs are absolutely positioned to the right with following styles:*/
#featured ul.ui-tabs-nav{ 
	margin-top:0px;
    float:left;	
	list-style:none; 
	padding-top:3px; 
    padding-bottom:5px;
	margin:0; 
	width:980px; 
   /* border:1px solid #fff;*/
}
#featured ul.ui-tabs-nav li{ 
float:left;
width:194px;
height:44px;
	padding:1px 0; 
    padding-left:2px;  
	font-size:12px; 
	color:#666; 
	
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; 
	line-height:18px;
	padding-right:3px;
margin-right:3px;
}
/*The content panels are given following styles so as to fit them inside featured div container. The ui-tabs-hide class is essential to working of this script as it decides which content panels are hidden and which is displayed.*/
#featured .ui-tabs-panel{ 
	width:979px; height:389px; 
	background:#181919; 
	position:relative;
        overflow:hidden;
    border:1px solid #444;
}
#featured .ui-tabs-hide{ 
	display:none; 
}
/*And the selected tab is given a background image with a left arrow. Here are the styles for selected tab.*/
#featured li.ui-tabs-nav-item a{/*On Hover Style*/ 
float:left;
	display:block; 
    width:194px;
	height:44px; 
	color:#bbb;  
	line-height:20px;
	outline:none;
background: #333; /* Old browsers */


}
#featured li.ui-tabs-nav-item a:hover{ 
background: #555; /* Old browsers */

}
#featured li.ui-tabs-selected{ /*Selected tab style*/
	/*background:url('/static/img/playslider/selected-item.gif') top left no-repeat;  */
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background: #FFD573; /* Old browsers */
    color:#333;
	
}
/*Since i used small thumbnail images in the navigation tabs, i applied following styles to them.*/
#featured ul.ui-tabs-nav li img{ 
	float:left; 
    margin:2px; 
	background:#eee; 
	padding:1px; 
    width:45px;
    height:35px;
	border:1px solid #eee;
}
/*Also, in the content panel which is displayed, it has one image of size 400px x 250px and some relavent title and description inside the div with class info. To display .info div over the image i absolutely positioned it over the image with a transparent background to add some eye-candy.*/
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:280px; left:0; 
	height:100px; width: 335px;
	background: url('/static/img/playslider/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
/*Finally, add these css styles to styles.css file because now jquery ui adds ui-tabs-active class to the currently active tab instead of ui-tabs-selected.*/
#featured li.ui-tabs-active{ 
	background:url('/static/img/playslider/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}