<!DOCTYPE html>
{% load compress %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {% block meta %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, follow" />
       <!-- <meta http-equiv="imagetoolbar" content="no" />
        <meta name="MSSmartTagsPreventParsing" content="true" /> -->
        <meta name="author" content="comedylib.com" />
        <meta name="keywords" content="online comedy movies, stand up comedy online, watch comedy movies online free, free tv shows episodes online, comedy central stand up, comedians, comedy series, comedy movies, movie database, film, stars" />
        <meta name="description" content="Comedylib.com - Online Comedy Videos Database" />
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dropdown.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slider.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mCustomScrollbar.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}js/fancybox/source/jquery.fancybox.css" />
        {% endcompress %}
        <script type='text/javascript' src='{{ STATIC_URL }}mediaplayer/jwplayer.js'></script> 
       <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        {% compress js %}
        {% endcompress %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '222979954499652',
                    status: true,
                    cookie: true,
                    xfbml: true
                });
            };
            (function() {
                if (document.getElementById('facebook-jssdk')) {return;}
                var firstScriptElement = document.getElementsByTagName('script')[0];
                var facebookJS = document.createElement('script'); 
                facebookJS.id = 'facebook-jssdk';
                facebookJS.src = '//connect.facebook.net/en_US/all.js';
                firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
            }());
        </script>
        <div id="main">
            <div class="cleared reset-box"></div>
            <div class="header">
                <div class="header-position">
                    <div class="headtitlelogin">
                        <div class="titlecontent">
                            <h1><a href="/"><img src="{{ STATIC_URL }}img/lclear.png" alt="transparent"/></a></h1>
                        </div>
                        <div class="headnav">
                            <div id="nav">
                                <ul class="nav">
                                    <li><a href="{% url content:comedians %}">Comedians</a></li>
                                    <li><a href="{% url content:shows %}">Shows</a></li>
                                    <li><a href="{% url content:movies %}">Movies</a></li>
                                    <li class="end"><a href="{% url content:playlists %}">Playlists</a></li>
                                </ul>
                            </div> <!--end nav-->
                        </div>
                        <div class="searchcontent">
                            <div id="search">
                                <form method="get" action="{% url haystack_search %}">
                                    {{ search_form.non_field_errors }}
                                    {% for field in search_form %}
                                        <div class="fieldWrapper">
                                            {{ field.errors }}
                                            <input type="text" name="q" id="id_q" placeholder="Search..."/>
                                        </div>
                                    {% endfor %}
                                </form>
                            </div> <!--end search-->
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="logincontent-user">
                                <div class="welcome">
                                    <a href="#" data-dropdown="#dropdown-1" data-vertical-offset="40" data-horizontal-offset="195">
                                        <div>
                                            {% if user.profile.picture %}
                                                {% load thumbnail %}
                                                <img src="{% thumbnail user.profile.picture 45x35 crop %}"><p class="dropdown">Hi, <span>{{ user.username }} </span> <i class="icon-chevron-down"></i></p>
                                            {% else %}
                                                <img src="{{ STATIC_URL }}img/logo.jpg"><p class="dropdown">Hi, <span>{{ user.username }} </span><i class="icon-chevron-down"></i></p>
                                            {% endif %}
                                        </div>
                                    </a>
                                    <div id="dropdown-1" class="dropdown-menu has-tip anchor-right">
                                        <ul>
                                            <li><a href="{% url own_home %}"><i class="icon-user"></i>Profile</a></li>
                                            <li><a href="{% url settings %}"><i class="icon-cogs"></i>Settings</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{% url accounts_logout %}"><i class="icon-signout"></i>Log out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!--end logincontent-nouser-->
                        {% else %}
                            <div class="logincontent-nouser">
                                <div id="register"> 
                                    {% include "registration/logindrop.html" %}
                                </div> <!--end register-->
                                <div class="why">
                                    <a href="#">Why register?</a>
                                </div>
                            </div> <!--end logincontent-nouser-->
                        {% endif %}
                    </div>
                    <div class="breadcrumbs">
                        <p>
                            {% for breadcrumb in request.breadcrumbs %}
                                {% if not forloop.last %}
                                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a><i class="icon-arrow-right"></i>
                                {% else %}
                                    {{ breadcrumb.name }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="cleared reset-box"></div>
                <div id="overcontent" >
                    <div id="content">
                    {% block content %}
                    {% endblock %}
                    </div> <!--end content-->
                </div> <!--end overcontent-->
            <div class="cleared"></div>
            <div class="footer">
                <div class="footer-body">
                    <div class="section group" id="footerpage">
                        <div class="col span_1_of_4 ">
                            <p></p>
                        </div>
                         <div class="col span_1_of_4 ">
                            <p></p>
                        </div>
                         <div class="col span_1_of_4 ">
                            <p></p>
                        </div>
                         <div class="col span_1_of_4 ">
                            <p></p>
                        </div>
                    </div>
                    <div class="cleared"></div>
                    <div class="footer-menu">
                        <ul class="navfooter">
                            <li><a href="{% url flatpages:about %}">About</a></li>
                            <li><a href="{% url flatpages:terms %}">Terms</a></li>
                            <li><a href="{% url flatpages:privacy %}">Privacy</a></li>
                            <li><a href="{% url contact_form %}">Send Feedback</a></li>
                            <li><a href="{% url flatpages:ads %}">Advertising</a></li>
                        </ul>
                    </div>
                    <div class="cleared"></div>
                    <div id="credits">
                        <p>Designed by <a href="http://www.mowiti.com" target="_blank"><img src="{{ STATIC_URL }}img/mowitilogo.png" alt="Mowiti logo"/></a></p>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
         {% compress js %}
         
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.expander.js" ></script> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dropdown.js" ></script> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/source/jquery.fancybox.js"></script>
        {% endcompress %}
        {% compress js %}
         
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38034418-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                ga.type = 'text/javascript'; ga.async = true;
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script type="text/javascript">
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        {% endcompress %}
    </body>
</html>
