<span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% ifequal num page_obj.number %}
        <span class="current"><a href="#">{{ num }}</a></span>
      {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endifequal %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</span>

