<script>
$(function() {
    $(".anyClass").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev"
    });
});
 </script>
 <button class="prev"><<</button>
<button class="next">>></button>
        
<div class="anyClass">
    <ul>
        <li><img src="someimage" alt="" width="200" height="150" >Test1</li>
        <li><img src="someimage" alt="" width="200" height="150" >Test2</li>
        <li><img src="someimage" alt="" width="200" height="150" >Test3</li>
        <li><img src="someimage" alt="" width="200" height="150" >Test4</li>
    </ul>
</div>