server {
    server_name comedylib.com;
    return 301 $scheme://www.comedylib.com$request_uri;
}

server {
    listen 80;
    server_name www.comedylib.com;
    access_log /var/log/nginx/comedylib.com.access.log;
    error_log /var/log/nginx/comedylib.com.error.log;

    client_max_body_size 20M;

    location / {
        uwsgi_pass unix:///home/comedylib/comedylib/var/run/comedylib.sock;
        include uwsgi_params;
    }

    location /static {
        alias /home/comedylib/comedylib/comedylib/static/;
    }
}

server {
    listen 80;
    server_name sentry.comedylib.com;

    client_max_body_size 10M;

    location / {
        proxy_pass http://localhost:9000/;
        proxy_redirect off;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
