<a href="#" data-dropdown="#dropdown-1" data-vertical-offset="0" data-horizontal-offset="0">
    <p>Login</p>
</a>

<div id="dropdown-1" class="dropdown-menu has-tip anchor-right">
    <ul>
        <li>
            <div class="signin_content">
                <form method="post" action="{% url accounts_login %}">
                {% csrf_token %}
                    <fieldset id="inputs">
                        <input id="id_email" type="text" name="email" placeholder="Your email" required>   
                        <input id="id_password" type="password" name="password" placeholder="Password" required>
                    </fieldset>
                    <fieldset id="actions">
                        <input type="submit" id="submit" value="Log in">
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <label><input type="checkbox" value="remember"> Keep me signed in</label>
                    </fieldset>
                </form>
                <div class="cleared"></div>
                <div class="center">
                    <span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="or">&nbsp; OR &nbsp;</span>
                    <span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <div class="centersocial">
                        <a href="{% url socialauth_begin 'facebook' %}?next={{ request.path }}" id="fbtnlnk" ><img src="/static/img/fbbtn.png"></a>
                        <a href="{% url socialauth_begin 'google-oauth2' %}?next={{ request.path }}" id="gbtnlnk" ><img src="/static/img/gbtn.png"></a>
                    </div>
                </div>
            </div>                     
        </li>
    </ul>
</div>