{% extends "base.html" %}

{% block content %}
<div class="userloginpage">
    <div class="section group center center1">
    <div class="col span_1_of_2">
        {% if form.errors %}
            <div class="form-error">Your username and password didn't match. Please try again.</div>
        {% endif %}

        <form method="post" action="{% url accounts_login %}">{% csrf_token %}
             <fieldset id="inputs1">
            {{ form.as_p}}
            </fieldset>
            <fieldset id="actions"> 
                <input type="submit" value="Login" />
            </fieldset>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        </div>
        <div class="col span_1_of_2 rightside">
               <center><h1>Or</h1>
                    <div class="social">
                        <a href="{% url socialauth_begin 'facebook' %}?next={{ request.path }}" ><img id="fbtnlnk2"  src="/static/img/fbsign.jpg"></a>
                        <a href="{% url socialauth_begin 'google-oauth2' %}?next={{ request.path }}"  ><img id="gbtnlnk2" src="/static/img/googlesign.jpg"></a>
                    </div>
                    </center>
        </div>
    </div> <!-- end center-->
</div>
{% endblock %}
