{% extends "base.html" %}
{% block title %}Login on Comedylib - Comedians, Series and Movies {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-8">
        <div class="signin_content login-register-content">
            {% if form.errors %}
                <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
                
            {% endif %}
            <form method="post" action="{% url accounts_login %}">{% csrf_token %}
                <fieldset id="inputs">
                    {{ form.non_field_errors }}
                    <div id="fieldWrapper">
                        {{ form.email.errors }}
                    </div>
                    <div class="left-inner-addon ">
                        <i class="glyphicon glyphicon-user"></i>
                        <input id="id_email" type="text" name="email" placeholder="Your email" maxlength="254" required/>  
                    </div>
                    <div id="fieldWrapper">
                        {{ form.password.errors }}
                    </div>
                    <div class="left-inner-addon ">
                        <i class="glyphicon glyphicon-eye-close"></i>
                        <input id="id_password" type="password" name="password" placeholder="Password" required/>
                    </div> 
                </fieldset>
                <fieldset id="actions">
                    <div class="row">
                        <div class="col-xs-6"><label><input type="checkbox" value="remember" id="id_remember" checked/> Remember me</label></div>
                        <div class="col-xs-6"> <input type="submit" class="login-btn" value="Log in"/></div>
                    </div>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </fieldset>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>   
            <div class="center">
                <p class="text-center">OR</p>
                <div class="centersocial bigsocial">
                    <a href="{% url socialauth_begin 'facebook' %}?next={{ request.path }}" class="fbtnlnk"><img class="big" src="/static/img/fbsign.png" alt="facebook"/></a>
                    <a href="{% url socialauth_begin 'google-oauth2' %}?next={{ request.path }}" class="gbtnlnk"><img class="big" src="/static/img/googlesign.png" alt="google"/></a>
                </div> 
            </div>
            <a class="signup" href="{% url accounts_register %}"> Sign up for Comedylib </a>
        </div> <!-- end center-->
    </div>
</div>
{% endblock %}
