<a class="registerap" href="#" data-dropdown="#dropdown-2" data-vertical-offset="0" data-horizontal-offset="52">
    <p>Register</p>
</a>

<div id="dropdown-2" class="dropdown-menu has-tip anchor-right">
    <ul>
        <li>
            <div class="register_content">
                <form action="{% url accounts_register %}" method="post">
                {% csrf_token %}
                    <fieldset id="inputs1">
                        <input id="id_username" type="text" name="username" placeholder="Username" maxlength="30" required/> <p class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                        <input type="password" name="password1" placeholder="Password" id="id_password1" required/>
                        <input type="password" name="password2" placeholder="Password confirmation" id="id_password2" required/> <p class="helptext">Enter the same password as above, for verification.</p>
                        <input id="id_email" type="text" name="email" placeholder="Email address" maxlength="75" required/>
                    </fieldset>
                    <fieldset id="actions">
                        <input type="submit" value="Sign Up">
                    </fieldset>
                </form>
                <div class="cleared"></div>
                <div class="center">
                    <span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="or">&nbsp; OR &nbsp;</span>
                    <span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <div class="centersocial">
                        <a href="{% url socialauth_begin 'facebook' %}?next={{ request.path }}" id="fbtnlnk1" ><img src="/static/img/fbbtn.png"></a>
                        <a href="{% url socialauth_begin 'google-oauth2' %}?next={{ request.path }}" id="gbtnlnk1" ><img src="/static/img/gbtn.png"></a>
                    </div>
                </div>
            </div>                     
        </li>
    </ul>
</div>