{% extends "base.html" %}
{% block title %}Comedylib - {{ collection_list.0.get_role_display|title }}s{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="homepage">
    <div class="section group">
        <div class="col span_1_of_6 tags">
            <h1>Categories</h1>
            <form action="." method="get" >
                <fieldset id="inputs3"> 
                    {{ categs_form.as_p}}
                </fieldset>
                <fieldset id="actions"> 
                    <input type="submit" id="filter" value="Filter">
                </fieldset>
            </form>
        </div>
        <div class="col span_5_of_6">
            <div class="section group">
                {% for collection in collection_list %}
                <div class="col span_1_of_4 col4">
                    <a href="{{ collection.get_absolute_url }}">
                    <div class="coll-list-content">
                        <img src="{% thumbnail collection.picture 198x250 crop %}">
                        <div class="coll-list-detail-content">
                            <p class="name">{{ collection.name|truncatechars:80 }}</p>
                            {% with videos=collection.videos.count %}
                            <p>{{ videos }} video{{ videos|pluralize }}</p>
                            {% endwith %}
                            <p>{{ collection.rating }} % out of {{collection.votes}} votes</p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                <div class="album-pagination">
                    {% include "pagination.html" %}
                </div>    
            </div>
        </div>
    </div>
    <!-- FEATURES -->
    
</div>
{% endblock %}
