{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- #featured -->

    <div class="featured">
        <div class="section group">
            <div class="col span_1_of_3">
                <div class="ribbon_comedians"></div>
                <div class="featured_title f_t_c">
                    <a href="{{ feat_comedian.get_absolute_url }}">Discover more...</a>
                </div>
                <div class="featured_content">
                    <img src="{{ feat_comedian.picture.url }}" alt=""  >
                    <div class="info">
                         <a href="{{ feat_comedian.get_absolute_url }}"><h1>{{feat_comedian.name}}</h1></a>
                        <p class="description">
                           {{ feat_comedian.description }}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col span_1_of_3">
                <div class="ribbon_shows"></div>
                <div class="featured_title f_t_s">
                     <a href="{{ feat_show.get_absolute_url }}">Discover more...</a>
                </div>
                <div class="featured_content">
                    <img src="{{ feat_show.picture.url }}" alt=""  >
                    <div class="info">
                         <a href="{{ feat_show.get_absolute_url }}"><h1>{{feat_show.name}}</h1></a>
                        <p class="description">
                             {{ feat_show.description }}
                        </p>
                    </div>
                </div>
            </div>
                       
            <div class="col span_1_of_3">
                <div class="ribbon_movies"></div>
                <div class="featured_title f_t_m">
                    <a href="{{ feat_movie.get_absolute_url }}">Discover more...</a>
                </div>
                <div class="featured_content">
                    <img src="{{ feat_movie.picture.url }}" alt=""  >
                    <div class="info">
                        <a href="{{ feat_movie.get_absolute_url }}"><h1>{{feat_movie.name}}</h1></a>
                        <p class="description">
                            {{ feat_movie.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- Random playlists and Facebook box -->
    
    <div class="section group">
        <div class="col span_3_of_4">
            <div class="randomplay_title">
					<p>Random <span>Playlists</span></p>
			</div>
                 <div class="section group">
                    <div class="col span_1_of_3 col3">
                        <div class="playlist-content">
                            <div class="play-pic-content">
                                <a href="{{ newvideo.get_absolute_url }}">
                                    <img src="/static/img/playlistimage.jpg">
                                </a>
                            </div>
                            <div class="play-detail-content">
                                <div class="nvideo">
                                <span>Videos</span><div class="paragraph">8</div> 
                                </div>
                                <div class="user">
                                <span>User</span><a href="#">username</p>
                                
                                </div>
                            </div>
                            <div class="play-name-content">
                                <a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col span_1_of_3 col3">
                          <div class="playlist-content">
                            <div class="play-pic-content">
                                <a href="{{ newvideo.get_absolute_url }}">
                                    <img src="/static/img/playlistimage.jpg">
                                </a>
                            </div>
                            <div class="play-detail-content">
                                <div class="nvideo">
                                <span>Videos</span><div class="paragraph">8</div> 
                                </div>
                                <div class="user">
                                <span>User</span><a href="#">username</p>
                                
                                </div>
                            </div>
                            <div class="play-name-content">
                                <a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col span_1_of_3 col3">
                      <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                      <div class="col span_1_of_3 col3">
                      <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                    <div class="col span_1_of_3 col3">
                        <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                  <div class="col span_1_of_3 col3">
                      <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                </div>    
              
        </div>
        <div class="col span_1_of_4">
            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Comedy-Library/215266501939582" data-width="238" data-height="314" data-colorscheme="dark" data-show-faces="true" data-border-color="#444444" data-stream="false" data-header="false"></div>
        </div>
    </div>
 
<!-- Random playlists and Facebook box -->

    <div class="randomplay_title">
	<p><span>Top Rated </span>Videos</p>
    </div>
    <div class="section group">
        <div class="col span_1_of_3 toprated_section">
            <p>Comedians</p>
            <div class="section group">
            {% for cvideo in comedian_videos %}
                <div class="col span_1_of_2  col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ cvideo.get_absolute_url }}">
                            <img src="{{ cvideo.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ cvideo.get_absolute_url }}">{{ cvideo.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ cvideo.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ cvideo.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ cvideo.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
          
            
        </div>
        <div class="col span_1_of_3 toprated_section">
            <p>Shows</p>
            <div class="section group">
            {% for svideo in show_videos %}
                <div class="col span_1_of_2  col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ svideo.get_absolute_url }}">
                            <img src="{{ svideo.picture.url1 }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ svideo.get_absolute_url }}">{{ svideo.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ svideo.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ svideo.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ wvideo.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
          
            
        </div>
        <div class="col span_1_of_3 toprated_section">
            <p>Movies</p>
            <div class="section group">
            {% for mvideo in movie_videos %}
                <div class="col span_1_of_2  col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ mvideo.get_absolute_url }}">
                            <img src="{{ mvideo.picture.url1 }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ mvideo.get_absolute_url }}">{{ mvideo.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ mvideo.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ mvideo.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ mvideo.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            {% endfor %}   
            </div>
        </div>
    </div>
</div>
    

<div class="cleared"></div>

   

{% endblock %}
