{% extends "base.html" %}

{% load thumbnail %}
{% load cache %}

{% block title %} Comedylib - Comedians, Series and Movies {% endblock %}

{% block content %}
{% cache 3600 content_home request.user.username %}
<div class="homepage">

<!-- #featured -->

    <div class="featured">
        <div class="section group">
            <div class="col span_1_of_3">
            <a href="{{ feat_comedian.get_absolute_url }}">
                <div class="ribbons ribbon_comedians"></div>
                <div class="featured_title f_t_c">
                    <p class="discover">Discover more...</p>
                </div>
                <div class="featured_content">
                    <img src="{% thumbnail feat_comedian.picture 249x311 crop %}" alt="featured comedian {{feat_comedian.name}}"/>
                    <div class="info">
                         <h1>{{feat_comedian.name}}</h1>
                        <p class="description">
                           {{ feat_comedian.description }}
                        </p>
                    </div>
                </div>
            </a>
            </div>
            
            <div class="col span_1_of_3">
                <a href="{{ feat_show.get_absolute_url }}">
                    <div class="ribbons ribbon_shows"></div>
                    <div class="featured_title f_t_s">
                       <p class="discover">Discover more...</p>
                    </div>
                    <div class="featured_content">
                        <img src="{% thumbnail feat_show.picture 249x311 crop %}" alt="featured show {{feat_show.name}}"/>
                        <div class="info">
                            <h1>{{feat_show.name}}</h1>
                            <p class="description">
                                 {{ feat_show.description }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
                       
            <div class="col span_1_of_3">
            <a href="{{ feat_movie.get_absolute_url }}">
                <div class="ribbons ribbon_movies"></div>
                <div class="featured_title f_t_m">
                    <p class="discover">Discover more...</p>
                </div>
                <div class="featured_content">
                    <img src="{% thumbnail feat_movie.picture 249x311 crop %}" alt="featured movie {{feat_movie.name}}"/>
                    <div class="info">
                        <h1>{{feat_movie.name}}</h1>
                        <p class="description">
                            {{ feat_movie.description }}
                        </p>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
    
<!-- Random playlists and Facebook box -->
    
    <div class="section group">
        <div class="col span_2_of_3">
            <div class="randomplay_title">
					<p>Random <span>Playlists</span></p>
			</div>
                <div class="section group">
        {% for playlist in playlists %}
                        <div class="col span_1_of_4 col4">
                <div class="collection-content playlist-content">
                    <div class="play-pic-content">
                        <a href="{{ playlist.videos.all.0.get_absolute_url }}?pl={{ playlist.id }}"></a>
                        <div class="buttons">
                             <a class="playallmain" href="{{ playlist.videos.all.0.get_absolute_url }}?pl={{ playlist.id }}">Play all <span><i class="icon-play"></i></span></a>
                        </div>
                        <img src="{% thumbnail playlist.videos.all.0.picture 144x110 crop %}" />
                        <div class="sidebar">
                            <center><p>{% with videos=playlist.videos.count %} {{ videos }}{% endwith %}<br/>Videos</p></center>
                            <img src="{% thumbnail playlist.videos.all.1.picture 42x31 crop %}" class="mini"/>
                            <img src="{% thumbnail playlist.videos.all.2.picture 42x31 crop %}" class="mini"/>
                        </div>
                    </div>
                    <div class="coll-name-content">
                         <a href="{{ playlist.videos.all.0.get_absolute_url }}?pl={{ playlist.id }}">{{ playlist.title }}</a>
                    </div>
                    <div class="coll-detail-content rating">
                    <div class="section group">
                        <div class="col span_2_of_4">
                            <span class="playlist">Bookmarks</span> <p>{{ playlist.bookmarks_count }}</p>
                        </div>
                        <div class="col span_2_of_4 alignright">
                           <span class="playlist">User</span><a class="user" href="{{playlist.profile.get_absolute_url}}">{{ playlist.profile.user.username }}</a>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
          
        {% empty %}
            <p>No playlists found.</p>
        {% endfor %}
        </div>  
              
        </div>
        <div class="col span_1_of_3">
            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Comedy-Library/215266501939582" data-width="311" data-height="410" data-colorscheme="dark" data-show-faces="true" data-border-color="#444444" data-stream="false" data-header="false"></div>
        </div>
    </div>
 
<!-- Random playlists and Facebook box -->

    <div class="randomplay_title">
	<p><span>Random </span>Videos</p>
    </div>
    <div class="section group">
        <div class="col span_1_of_3 toprated_section">
            <p>Comedians</p>
            <div class="section group">
            {% for cvideo in comedian_videos %}
                <div class="col span_2_of_2 col1">
                    <div class="collection-front-content">
                        <a href="{{ cvideo.get_absolute_url }}">
                                <img class="coll-front-pic-content" src="{{ cvideo.picture.url }}">
                        </a>
                        <div class="coll-front-detail-content">
                        <div class="coll-front-name-content">
                            <a href="{{ cvideo.get_absolute_url }}">{{ cvideo.title|truncatechars:80 }}</a>
                            
                        </div> 
                        <a class="coll-front-name-content collection" href="{{ cvideo.collection.get_absolute_url }}">{{ cvideo.collection.name|truncatechars:80 }}</a>
                        <div class="section group">
                            <div class="col span_1_of_4_coll_det vlength">
                                <p>{{ cvideo.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col span_2_of_4_coll_det nviews">
                                <p>{{ cvideo.views }}</p> <span>Views</span>
                            </div>
                            <div class="col span_1_of_4_coll_det rating">
                                <p>{{ cvideo.rating }}%</p>
                                <span>Rating</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
          
            
        </div>
        <div class="col span_1_of_3 toprated_section">
            <p>Shows</p>
            <div class="section group">
            {% for svideo in show_videos %}
                 <div class="col span_2_of_2 col1">
                    <div class="collection-front-content">
                        <a href="{{ svideo.get_absolute_url }}">
                                <img class="coll-front-pic-content" src="{{ svideo.picture.url }}">
                        </a>
                        <div class="coll-front-detail-content">
                        <div class="coll-front-name-content">
                            <a href="{{ svideo.get_absolute_url }}">{{ svideo.title|truncatechars:80 }}</a>
                            
                        </div> 
                        <a class="coll-front-name-content collection" href="{{ svideo.collection.get_absolute_url }}">{{ svideo.collection.name|truncatechars:80 }}</a>
                        <div class="section group">
                            <div class="col span_1_of_4_coll_det vlength">
                                <p>{{ svideo.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col span_2_of_4_coll_det nviews">
                                <p>{{ svideo.views }}</p> <span>Views</span>
                            </div>
                            <div class="col span_1_of_4_coll_det rating">
                                <p>{{ svideo.rating }}%</p>
                                <span>Rating</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
          
            
        </div>
        <div class="col span_1_of_3 toprated_section">
            <p>Movies</p>
            <div class="section group">
            {% for mvideo in movie_videos %}
                <div class="col span_2_of_2 col1">
                    <div class="collection-front-content">
                        <a href="{{ mvideo.get_absolute_url }}">
                                <img class="coll-front-pic-content" src="{{ mvideo.picture.url }}">
                        </a>
                        <div class="coll-front-detail-content">
                        <div class="coll-front-name-content">
                            <a href="{{ mvideo.get_absolute_url }}">{{ mvideo.title|truncatechars:80 }}</a>
                            
                        </div> 
                        <a class="coll-front-name-content collection" href="{{ mvideo.collection.get_absolute_url }}">{{ mvideo.collection.name|truncatechars:80 }}</a>
                        <div class="section group">
                            <div class="col span_1_of_4_coll_det vlength">
                                <p>{{ mvideo.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col span_2_of_4_coll_det nviews">
                                <p>{{ mvideo.views }}</p> <span>Views</span>
                            </div>
                            <div class="col span_1_of_4_coll_det rating">
                                <p>{{ mvideo.rating }}%</p>
                                <span>Rating</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}   
            </div>
        </div>
    </div>
</div>
    

<div class="cleared"></div>
{% endcache %}
{% endblock %}
