{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- #featured -->

    <div class="featured">
        <div class="section group">
            <div class="col span_1_of_3">
                <div class="ribbon_comedians"></div>
                <div class="featured_title f_t_c">
                    <a href="/">Discover more...</a>
                </div>
                <div class="featured_content">
                    <img src="{{ STATIC_URL }}img/featured/featuredcomedian.jpg" alt=""  >
                    <div class="info">
                        <h1>Nume Comic</h1>
                        <p class="description">
                            This paraghraph is for description or something else we might think ok. The Name, I think, is enough.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col span_1_of_3">
                <div class="ribbon_shows"></div>
                <div class="featured_title f_t_s">
                    <a href="/">Discover more...</a>
                </div>
                <div class="featured_content">
                    <img src="{{ STATIC_URL }}img/featured/featuredshow.jpg" alt=""  >
                    <div class="info">
                        <h1>Nume Comic</h1>
                        <p class="description">
                            This paraghraph is for description or something else we might think ok. The Name, I think, is enough.
                        </p>
                    </div>
                </div>
            </div>
                       
            <div class="col span_1_of_3">
                <div class="ribbon_movies"></div>
                <div class="featured_title f_t_m">
                    <a href="/">Discover more...</a>
                </div>
                <div class="featured_content">
                    <img src="{{ STATIC_URL }}img/featured/featuredmovie.jpg" alt=""  >
                    <div class="info">
                        <h1>Nume Comic</h1>
                        <p class="description">
                            This paraghraph is for description or something else we might think ok. The Name, I think, is enough.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- Random playlists and Facebook box -->
    
    <div class="section group">
        <div class="col span_3_of_4">
            <div class="randomplay_title">
					<p>Random <span>Playlists</span></p>
			</div>
                 <div class="section group">
                    <div class="col span_1_of_3 col3">
                        <div class="playlist-content">
                            <div class="play-pic-content">
                                <a href="{{ newvideo.get_absolute_url }}">
                                    <img src="/static/img/playlistimage.jpg">
                                </a>
                            </div>
                            <div class="play-detail-content">
                                <div class="nvideo">
                                <span>Videos</span><div class="paragraph">8</div> 
                                </div>
                                <div class="user">
                                <span>User</span><a href="#">username</p>
                                
                                </div>
                            </div>
                            <div class="play-name-content">
                                <a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col span_1_of_3 col3">
                          <div class="playlist-content">
                            <div class="play-pic-content">
                                <a href="{{ newvideo.get_absolute_url }}">
                                    <img src="/static/img/playlistimage.jpg">
                                </a>
                            </div>
                            <div class="play-detail-content">
                                <div class="nvideo">
                                <span>Videos</span><div class="paragraph">8</div> 
                                </div>
                                <div class="user">
                                <span>User</span><a href="#">username</p>
                                
                                </div>
                            </div>
                            <div class="play-name-content">
                                <a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col span_1_of_3 col3">
                      <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                      <div class="col span_1_of_3 col3">
                      <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                    <div class="col span_1_of_3 col3">
                        <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                  <div class="col span_1_of_3 col3">
                      <div class="playlist-content">
						<div class="play-pic-content">
							<a href="{{ newvideo.get_absolute_url }}">
								<img src="/static/img/playlistimage.jpg">
							</a>
						</div>
						<div class="play-detail-content">
							<div class="nvideo">
							<span>Videos</span><div class="paragraph">8</div> 
							</div>
							<div class="user">
							<span>User</span><a href="#">username</p>
							
							</div>
						</div>
						<div class="play-name-content">
							<a href="{{ newvideo.get_absolute_url }}">15 best american comedians that ever lived in Europe but born in South Asia</a>
						</div>
						
					</div>
                    </div>
                </div>    
              
        </div>
        <div class="col span_1_of_4">
            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Comedy-Library/215266501939582" data-width="238" data-height="314" data-colorscheme="dark" data-show-faces="true" data-border-color="#444444" data-stream="false" data-header="false"></div>
        </div>
    </div>
 
<!-- Random playlists and Facebook box -->

    <div class="randomplay_title">
	<p><span>Top Rated </span>Videos</p>
    </div>
    <div class="section group">
        <div class="col span_1_of_3 toprated_section">
            <p>Comedians</p>
            <div class="section group">
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
               
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
               <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
          
            
        </div>
        <div class="col span_1_of_3 toprated_section">
            <p>Shows</p>
             <div class="section group">
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
               
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
               <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
          
            
        </div>
        <div class="col span_1_of_3 toprated_section">
            <p>Movies</p>
            <div class="section group">
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
               
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
               <div class="col span_1_of_2 colbkg col2">
                            <div class="collection-content">
                    <div class="coll-pic-content">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.picture.url }}">
                        </a>
                    </div>
                    <div class="coll-name-content">
                        <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
                    </div>
                    <div class="coll-detail-content">
                    <div class="section group">
                        <div class="col span_1_of_4_coll_det vlength">
                            <p>{{ video.duration }}</p> <span>Length</span>
                        </div>
                        <div class="col span_2_of_4_coll_det nviews">
                            <p>{{ video.views }}</p> <span>Views</span>
                        </div>
                        <div class="col span_1_of_4_coll_det rating">
                            <p>{{ video.rating }}%</p>
                            <span>Rating</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
          
            
        </div>
        </div>
    </div>
    

<div class="cleared"></div>

   

{% endblock %}
