{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Comedylib - Playlists{% endblock %}
{% block content %}
<div class="row">
        <ul class="col-xs-12 random-playlist">
        {% for playlist in playlists %}
            <li class="playlist-content">
                <div class="play-pic-content">
                    <a class="text-center playallmain" href="{{ playlist.videos.all.0.get_absolute_url }}?pl={{ playlist.id }}"><span class="glyphicon glyphicon-play"></span> Play all</a>
                    <img src="{% thumbnail playlist.videos.all.0.picture 144x110 crop %}" alt="First playlist image"/>
                    <div class="sidebar">
                        <p class="text-center">{% with videos=playlist.videos.count %} {{ videos }}{% endwith %}<br/>Videos</p>
                        <img src="{% thumbnail playlist.videos.all.1.picture 42x31 crop %}" class="mini" alt="Second playlist image"/>
                        <img src="{% thumbnail playlist.videos.all.2.picture 42x31 crop %}" class="mini" alt="Third playlist image"/>
                    </div>
                </div>
                <div class="play-name-content">
                    <a href="{{ playlist.videos.all.0.get_absolute_url }}?pl={{ playlist.id }}" title="{{ playlist.title }}">{{ playlist.title|truncatechars:40 }}</a>
                </div>
                <div class="play-detail-content">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <span>Bookmarks</span> <p>{{ playlist.bookmarks_count }}</p>
                        </div>
                        <div class="col-xs-6">
                           <span class="user-header">User</span><a href="{{playlist.profile.get_absolute_url}}">{{ playlist.profile.user.username }}</a>
                        </div> 
                    </div>
                </div>
            </li>
        {% empty %}
            <li><p>No playlists found.</p></li>
        {% endfor %}
        </ul>
          
    <div class="col-xs-12 album-pagination">
        {% include "pagination.html" %}
    </div>
</div>
{% endblock %}
