{% extends "base.html" %}
{% block title %}{{video.collection.name}}, {{ video.title }} - Comedylib{% endblock %}
{% block content %}
{% load thumbnail %}
<div id="video_detail" class="homepage">
    <div class="section group">
        {% if current_pl %}
            <div class="col0 span_4_of_6_1 playlist_title">
              <a href="{{current_pl.get_absolute_url}}">{{ current_pl.title }}</a> from <a href ="{{current_pl.profile.get_absolute_url}}">{{ current_pl.profile.user.username }}</a>
            </div>
            <div class="col0 span_2_of_6_1 playlist_title">
                <div class="section group">
                    <div class="col span_1_of_4">
                        <a href="{{ prev_video_url }}" id="next_video">  <i class="icon-step-backward"></i></a>
                        {{ video_no }}/{{ videos_count }}
                        <a href="{{ next_video_url }}" id="prev_video">  <i class="icon-step-forward"></i></a>
                    </div>
                    <div class="col span_2_of_4 bookmark">
                        {% if request.user.is_authenticated %}
                            {% if bookmarked_pl %}
                                <a href="#" id="bookmark_pl" class="inactive1" title="Remove from bookmarks">Bookmark <span><i class="icon-list"></i></span></a>
                            {% else %}
                                <a href="#" id="bookmark_pl" class="active1" title="Save this playlist to watch later">Bookmark <span><i class="icon-list"></i></span></a>
                            {% endif %}
                        {% else %}
                        <a class="fancybox" href="#loginerror" title="Save this playlist to watch later">Bookmark <span><i class="icon-list"></i></span></a>
                        {% endif %}
                    </div>                     
                    <div class="col span_1_of_4 alignright">
                        <a href="#"><i class="icon-refresh {% if request.session.autoplay %}active{%endif %}"></i></a>
                       <!-- <a href="#"><i class="icon-random"></i></a> -->
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col0 span_4_of_6_1 playlist_title nosectionspace05">
                 </div>
            <div class="col0 span_2_of_6_1 playlist_title nosectionspace05">
             	<p class="title">Related <span>Videos</span></p>
			
            </div>
        {%endif%}
        
        <div class="col0 span_4_of_6_1 col1 nosectionspace">
            <div class="video">
                <div class="mediaplayer">
                    <div id='mediaplayer'></div>
                    <script type="text/javascript">
                        jwplayer('mediaplayer').setup({
                            'flashplayer': '{{ STATIC_URL }}mediaplayer/player.swf',
                            'id': 'playerID',
                            'autostart': 'false',
                            'volume': '80',
                            'width': '667',
                            'height': '390',
                            'skin': '{{ STATIC_URL }}mediaplayer/skins/modieus.zip',
                            'file': '{{ video.url }}'
                        });
                    </script>
                </div>
            </div> <!-- end video-->
        </div>
                <div class="col0 span_2_of_6_1 related nosectionspace">
            <div class="container_list divscroll">          
                <ol>
                {% for rel_video in related_videos %}
                    <li>
                        <div class="col span_1_of_3 picture">
                            <a href="{{ rel_video.get_absolute_url }}{% if current_pl %}?pl={{ current_pl.id }}{% endif %}">
                                <img src="{% thumbnail rel_video.picture 80x40 crop %}" />
                            </a>
                            <p class="time">{{ rel_video.duration }}</a>
                        </div>      
                        <div class="col span_2_of_3">   
                            <a href="{{ rel_video.get_absolute_url }}{% if current_pl %}?pl={{ current_pl.id }}{% endif %}">
                                {{ rel_video.title }}
                            </a>
                            <br/>
                            <a href="{{ rel_video.collection.get_absolute_url }}" class="collection">{{ rel_video.collection.name }}</a>
                        </div> 
                    </li>
                {% empty %}
                    <li>No related videos</li>
                {% endfor %}
                </ol>         
            </div>
        </div>
       
    </div>
    <div class="section group">
        <div class="col span_4_of_6 nosectionspace">    
          
            <div class="social">
                <div class="rating">
                    {% if request.user.is_authenticated %}
                        {% if vid_feel == 'L' %}
                            <div id="likecontent" class="like load" title="Like">
                                <a href="#" id="like_btn" class="active"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="ll"/>
                            </div>
                        {% else %}
                            <div id="likecontent" class="like" title="Like">
                                <a href="#" id="like_btn"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="ll"/>
                            </div>
                        {% endif %}
                    {% else %}
                        <div id="likecontent" class="like" title="Like">
                            <a class="fancybox" href="#loginerror"></a>
                        </div>
                    {% endif %}
                    <div class="rateholder">
                        {% if video.rating == 0 %}
                            <span class="average">N/A</span>
                        {% else %}
                            <span class="average">{{ video.rating }} %</span>
                        {% endif %}
                        <span class="nvotes">{{video.total_votes}} votes</span>
                    </div>
                    {% if request.user.is_authenticated %}
                        {% if vid_feel == 'D' %}
                            <div id="dislikecontent" class="dislike" title="Not like">
                                <a href="#" id="dislike_btn" class="active"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="dl"/>
                            </div>
                        {% else %}
                            <div id="dislikecontent" class="dislike" title="Not like">
                                <a href="#" id="dislike_btn"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="dl"/>
                            </div>
                        {% endif %}
                    {% else %}
                        <div id="dislikecontent" class="dislike" title="Not like">
                            <a class="fancybox" href="#loginerror"></a>
                        </div>
                    {% endif %}
                </div>
                <!-- verify auth to enable rating-->
                <ul id="sociallist" >
                    {% if request.user.is_authenticated %}
                        <li id="addplay-btn" class="playlist ">
                            <a href="#" title="Add this video to a playlist">Playlist <span><i class="icon-list"></i></span></a>
                        </li>
                          {% if bookmarked_vid %}
                        <li class="bookmark">
                            <a href="#" id="bookmark_btn" class="inactive" title="Remove from bookmarks">Bookmark <span><i class="icon-minus"></i></span></a>
                        </li>
                        {% else %}
                        <li class="bookmark">
                            <a href="#" id="bookmark_btn" class="active" title="Save this video to watch later">Bookmark <span><i class="icon-plus"></i></span></a>
                        </li>
                        {% endif %}
                        
                    {% else %}
                        <li class="playlist">
                            <a class="fancybox" href="#loginerror" >Playlist  <span><i class="icon-list"></i></span></a>
                        </li>
                        <li class="bookmark">
                            <a class="fancybox" href="#loginerror" >Bookmark</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="social-share">
                            <p><span>Share</span> video</p>
                            <!-- Facebook button-->
                            <a href="#" class="faceb" id="fb_share_btn" title="Share to Facebook"></a>
                            <!-- Google button-->
                            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" onclick="javascript:window.open(this.href,
                            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="google"><img
                            src="https://www.gstatic.com/images/icons/gplus-32.png" title="Share on Google+"/></a>
                            <!-- Reddit button-->               
                            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}" onclick="javascript:window.open(this.href,
                            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=550');return false;" class="redd" title="Share to Reddit"></a>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('#fb_share_btn').click(function(e){
                                        e.preventDefault();
                                        FB.ui({
                                            method: 'feed',
                                            name: '{{video.collection.name}} - {{ video.title}}',
                                            link: '{{ request.get_host }}{{ request.path }}',
                                            picture: '{{ request.get_host }}{{ video.picture.url }}',
                                            caption: '{{ request.get_host }}{{ request.path }}',
                                            description: 'Watch more {{video.collection.name}} videos at {{ request.get_host }}, the biggest comedy collection.',
                                            message: ''
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </li>
                </ul>
                <div class="nviews">
                    <p>{{ video.views }} <span>views</span></p>
                </div>
                <div id="addtoplaycontent" class="addtoplaylist">
                    <form id="playlistform" action="{% url create_playlist %}" method="post">{% csrf_token %}
                        <input id="id_title" type="text" name="title" maxlength="255" placeholder="Create a new playlist">
                        <input type="submit" id="sub" value="Create playlist" />
                        <div class="feedback"><p id="feedback" class="helptextred"> </p></div>
                    </form>
                    <h2>Click on a playlist to add the video:</h1>
                    <div class="playlistul divscroll">
                        <ul id="playlistul">
                            {% for playlist in user.profile.playlists.all %}
                                <li data-playlist-id="{{ playlist.id }}" class="active">{{ playlist.title }} ({{ playlist.videos.count }})</li>
                            {% empty %}
                                <li>No playlists found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div><!-- end social -->
            <div class="affiliate">
                affiliate
            </div><!-- end affiliate -->
            <div class="comments">
                <h1>Comments</h1>
                {% load comments %}
                {% get_comment_count for video as comment_count %}
                {% if comment_count %}
                    <span class="nrcom">{{ comment_count }} comments</span>
                {% endif %}
                {% if request.user.is_authenticated %}
                    {% get_comment_form for video as comm_form %}
                    <div class="commentform">
                        <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            {{ comm_form.comment }}
                            {{ comm_form.honeypot }}
                            {{ comm_form.content_type }}
                            {{ comm_form.object_pk }}
                            {{ comm_form.timestamp }}
                            {{ comm_form.security_hash }}
                            <input type="hidden" name="next" value="{{ video.get_absolute_url }}" />
                            <input type="submit" value="Add comment" id="id_submit" />
                        </form>
                    </div>
                {% else %}
                    <p>Please <a class="fancybox" href="#loginerror">log in</a> to leave a comment.</p>
                {% endif %}
                <div class="commentlist">
                {% get_comment_list for video as comments %}
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <a href="{{ comment.user.profile.get_absolute_url }}">
                                    <img src="{% thumbnail comment.user.profile.picture 45x35 crop %}" />
                                </a>
                                <a href="{{ comment.user.profile.get_absolute_url }}">
                                    {{comment.user.username}}
                                </a>
                                <span>{{comment.submit_date}}</span>
                                <p>{{comment.comment}}</p> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- end comments -->
        </div>
        <div class="col span_2_of_6 nosectionspace">
            
        </div>
    </div>
</div> <!-- end video detail-->
<div id="loginerror" style="width:200px;display: none;">
    <h3>You must be logged in to have access to this option</h3>
    {% include "registration/login-er.html" %}
</div> <!-- end loginerror-->
<script>
var mouse_is_inside = false;
    (function($) {
        $("#addplay-btn").click(function() {
            if ( $("#addtoplaycontent").is(":hidden") ) {
                $("#addtoplaycontent").slideDown("normal"); 
                return false;
                } else {
                $("#addtoplaycontent").slideUp("normal");
                return false;
            }
        });
        $("#addtoplaycontent").hover(function(){ 
        mouse_is_inside=true; 
    }, function(){ 
        mouse_is_inside=false; 
    });	
	 $("body").click(function(){
        if(! mouse_is_inside) {
            $("#addtoplaycontent").slideUp("fast");
        }
    });	
    })(jQuery);
    $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    $(document).ready(function() {
        $(".various").fancybox({
            maxWidth    : 400,
            maxHeight   : 400,
            fitToView   : false,
            width       : '70%',
            height      : '70%',
            autoSize    : false,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none'
        });
    });
</script>
<script>
    // If in the backend, autoplay is set to 0, we disable it.
    // Otherwise we enable it. That's why we don't use strict check,
    // to account for the case when request.session.autoplay isn't set
    var autoplay = '{{ request.session.autoplay }}' == 0 ? false : true;

    // Toggling the 'autoplay' button along with the variable
    // that specifies whether 'autoplay' should be enabled
    $(document).ready(function() {
        $('i.icon-refresh').parent('a').click(function(event) {
            event.preventDefault();
            $('i.icon-refresh').toggleClass('active');
            if (autoplay === true) {
                $.post('{% url autoplay %}', {'autoplay': 0}, function(data) {
                    autoplay = false;
                });
            } else {
                $.post('{% url autoplay %}', {'autoplay': 1}, function(data) {
                    autoplay = true;
                });
            }
        });
    });
    // When the player is idle, we check if it has reached the end
    // of the video and redirect to the next one, if autoplay is
    // enabled
    $(document).ready(function() {
        jwplayer().onIdle(function(event) {
            var nextVideoUrl = '{{ next_video_url }}';
            if (autoplay === true) {
                var position = jwplayer().getPosition();
                var duration = jwplayer().getDuration();
                if ((duration - position) < 1) {
                    window.location.href = nextVideoUrl;
                }
            }
        });
    });
</script>
<script>
    $('#sub').on("click", function(event)  {
        event.preventDefault();
        $("#feedback").text('').fadeIn();
        $.post($("#playlistform").attr("action"), {'title': $('#id_title').val()}, function(data) {
            $('#playlistul').append('<li data-playlist-id="'+data.pk+'" class="active">'+$("#id_title").val()+' (0)</li>');
            clearInput();
        });
        return false;
    });
    function clearInput() {
        $("#playlistform :input").each(function() {
            $(this).val('');
        });
        $("#sub").val('Create playlist');
        $("#feedback").text('Your playlist has been created.').delay(1500).fadeOut();
    };
    $(document).on("click", "#playlistul li.active", function(event){
        event.preventDefault();
        li = $(this);
        $.post('{% url add_to_playlist %}', {'vid': {{ video.id }}, 'pid': li.attr('data-playlist-id')}, function(data) {
            title = li.text();
            vidCount = title.match(/\((\d+)\)/)[1];
            newVidCount = (parseInt(vidCount) + 1).toString();
            newTitle = title.replace(/\(\d+\)/, '('+newVidCount+')');
            li.text(newTitle);
            li.addClass('inactive');
            li.removeClass('active');
        });
        return false;
    });

    // Mapping between buttons and the feelings they express
    button_feel = {'like_btn': 'L', 'dislike_btn': 'D'};
    // Mapping between buttons and the loader images
    button_loader = {'like_btn': '#ll', 'dislike_btn': '#dl'};

    // Function that returns another function specific to
    // each pressed button
    var handlerFact = function(clicked_button, other_button) {
        var handler = function(event) {
            // Getting the button-specific loader
            event.preventDefault();
            var loader = $(button_loader[clicked_button.attr('id')]);

            loader.fadeIn('slow');
            if (clicked_button.hasClass('active')) {
                var feeling = 'U';
                var success = function() {
                    loader.fadeOut('slow');
                    clicked_button.removeClass('active');
                };
            } else {
                var feeling = button_feel[clicked_button.attr('id')];
                var success = function() {
                    loader.fadeOut('slow');
                    clicked_button.addClass('active');
                    other_button.removeClass('active');
                };
            }
            $.post('{% url vid_feel %}', {'vid': {{ video.id }}, 'feeling': feeling})
                .done(success)
                .fail(function(){ alert('Ooops! Something went wrong.'); });
                //TODO: Do proper error handling
        };
        return handler;
    };

    var bookmarkStates = {
        'active': {
            'rmCl': 'active',
            'adCl': 'inactive',
            'text': 'Bookmark <span><i class="icon-minus"></i></span>',
            'titl': 'Remove this video from bookmarks',
            'url': '{% url add_to_bookmarks %}'
        },
        'inactive': {
            'rmCl': 'inactive',
            'adCl': 'active',
            'text': 'Bookmark <span><i class="icon-plus"></i></span>',
            'titl': 'Save this video to watch later',
            'url': '{% url remove_from_bookmarks %}'
        },
         'active1': {
            'rmCl': 'active1',
            'adCl': 'inactive1',
            'text': 'Bookmark <span><i class="icon-list"></i></span>',
            'titl': 'Remove this playlist from bookmarks',
            'url': '{% url add_to_bookmarks %}'
        },
        'inactive1': {
            'rmCl': 'inactive1',
            'adCl': 'active1',
            'text': 'Bookmark <span><i class="icon-list"></i></span>',
            'titl': 'Save this playlist to watch later',
            'url': '{% url remove_from_bookmarks %}'
        }
    }

    $(document).ready(function() {
        var likeBtn = $('#like_btn');
            dislikeBtn = $('#dislike_btn');

        // Binding each button click to its specific callback
        likeBtn.click(handlerFact(likeBtn, dislikeBtn));
        dislikeBtn.click(handlerFact(dislikeBtn, likeBtn));

        $('#bookmark_btn').click(function(event) {
            event.preventDefault();
            button = $(this);
            button_cls = button.attr('class');
            $.post(bookmarkStates[button_cls].url, {'id': {{ video.id }}, 'obj': 'V'})
                .done(function() {
                    button.removeClass(bookmarkStates[button_cls].rmCl);
                    button.addClass(bookmarkStates[button_cls].adCl);
                    button.html(bookmarkStates[button_cls].text);
                    button.attr('title', bookmarkStates[button_cls].titl );
                })
                .fail(function() { alert('An error has occur'); });
                //TODO: Do proper error handling
        });
        {% if current_pl %}
            $('#bookmark_pl').click(function(event) {
                event.preventDefault();
                button = $(this);
                button_cls = button.attr('class');
                $.post(bookmarkStates[button_cls].url, {'id': {{ current_pl.id }}, 'obj': 'P'})
                    .done(function() {
                        button.removeClass(bookmarkStates[button_cls].rmCl);
                        button.addClass(bookmarkStates[button_cls].adCl);
                        button.html(bookmarkStates[button_cls].text);
                        button.attr('title', bookmarkStates[button_cls].titl );
                    })
                    .fail(function() { alert('An error has occur'); });
                    //TODO: Do proper error handling
            });
        {% endif %}
    });
</script>
<script>
(function($) {
    $(window).load(function() {
        $(".divscroll").mCustomScrollbar({
            autoHideScrollbar:true,
            theme:"light-thin"
        });
    });
})(jQuery);
</script>
{% endblock %}
