{% extends "base.html" %}
{% block meta %}
<meta name="keywords" content="{{video.collection.name}} online video, {{video.collection.name}} stand up comedy online" />
{{ block.super }}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host}}{{ video.picture.url }}" />
{% endblock %}
{% block title %}Comedylib - {{video.collection.name}}, {{ video.title }} - online comedy videos{% endblock %}
{% block content %}
{% load thumbnail %}
<div id="video_detail" class="homepage">
    <script>
        var pageAbsoluteURI = '{{ request.build_absolute_uri }}',
            affiliateOffersURI = '{% url affiliates:offers %}',
            collectioName = '{{ video.collection.name }}',
            videoId = '{{ video.id }}',
            currentPlId = '{{ current_pl.id }}',
            mouseIsInside = false,
            inPl = !!currentPlId,
            autoplay = '{{ request.session.autoplay }}' == 0 ? false : true,
            autoplayURI = '{% url autoplay %}',
            nextVideoURI = '{{ next_video_url }}',
            addToPlaylistURI = '{% url add_to_playlist %}',
            videoFeelingURI = '{% url vid_feel %}',
            addToBookmarksURI = '{% url add_to_bookmarks %}',
            removeFromBookmarksURI = '{% url remove_from_bookmarks %}';
    </script>
    <div class="section group">
        {% if current_pl %}
            <div class="col0 span_4_of_6_1 playlist_title">
              <a href="{{current_pl.get_absolute_url}}">{{ current_pl.title }}</a> from <a href ="{{current_pl.profile.get_absolute_url}}">{{ current_pl.profile.user.username }}</a>
            </div>
            <div class="col0 span_2_of_6_1 playlist_title">
                <div class="section group">
                    <div class="col span_1_of_4">
                        <a href="{{ prev_video_url }}" id="next_video">  <i class="icon-step-backward"></i></a>
                        {{ video_no }}/{{ videos_count }}
                        <a href="{{ next_video_url }}" id="prev_video">  <i class="icon-step-forward"></i></a>
                    </div>
                    <div class="col span_2_of_4 bookmark">
                        {% if request.user.is_authenticated %}
                            {% if bookmarked_pl %}
                                <a href="#" id="bookmark_pl" class="inactive1" title="Remove from bookmarks">Bookmark <span><i class="icon-list"></i></span></a>
                            {% else %}
                                <a href="#" id="bookmark_pl" class="active1" title="Save this playlist to watch later">Bookmark <span><i class="icon-list"></i></span></a>
                            {% endif %}
                        {% else %}
                        <a class="fancybox" href="#loginerror" title="Save this playlist to watch later">Bookmark <span><i class="icon-list"></i></span></a>
                        {% endif %}
                    </div>                     
                    <div class="col span_1_of_4 alignright">
                        <a href="#"><i class="icon-refresh {% if request.session.autoplay %}active{%endif %}"></i></a>
                       <!-- <a href="#"><i class="icon-random"></i></a> -->
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col0 span_4_of_6_1 playlist_title nosectionspace05">
                 </div>
            <div class="col0 span_2_of_6_1 playlist_title nosectionspace05">
             	<p class="title">Related <span>Videos</span></p>
			
            </div>
        {%endif%}
        
        <div class="col0 span_4_of_6_1 col1 nosectionspace">
            <div class="video">
                <div class="mediaplayer">
                    <div id='mediaplayer'></div>
                    <script type="text/javascript">
                        jwplayer('mediaplayer').setup({
                           /* 'id': 'playerID',*/
                            'flashplayer': '{{ STATIC_URL }}mediaplayer/jwplayer.flash.swf',
                            'html5player': '{{ STATIC_URL }}mediaplayer/jwplayer.html5.js',
                            'primary': 'flash',
                            'title': '{{ video.title }}',
                            'autostart': 'true',
                            'volume': '80',
                            'width': '663',
                            'height': '392',
                            'file': '{{ video.url }}'                        
                        });
                    </script>
                </div> 
            </div> <!-- end video-->
        </div>
        
                <div class="col0 span_2_of_6_1 related nosectionspace">
            <div class="container_list divscroll">          
                <ol>
                {% for rel_video in related_videos %}
                    <li>
                        <div class="col span_1_of_3 picture">
                            <a href="{{ rel_video.get_absolute_url }}{% if current_pl %}?pl={{ current_pl.id }}{% endif %}">
                                <img src="{% thumbnail rel_video.picture 80x40 crop %}" />
                            </a>
                            <p class="time">{{ rel_video.duration }}</a>
                        </div>      
                        <div class="col span_2_of_3 data">   
                            <a href="{{ rel_video.get_absolute_url }}{% if current_pl %}?pl={{ current_pl.id }}{% endif %}">
                                {{ rel_video.title }}
                            </a>
                            <br/>
                            <a href="{{ rel_video.collection.get_absolute_url }}" class="collection">{{ rel_video.collection.name }}</a>
                        </div> 
                    </li>
                {% empty %}
                    <li>No related videos</li>
                {% endfor %}
                </ol>         
            </div>
        </div>
       
    </div>
    <div class="section group">
        <div class="col span_4_of_6 nosectionspace">    
          
            <div class="social">
                <div class="rating">
                    {% if request.user.is_authenticated %}
                        {% if vid_feel == 'L' %}
                            <div id="likecontent" class="like load" title="Like">
                                <a href="#" id="like_btn" class="active"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="ll"/>
                            </div>
                        {% else %}
                            <div id="likecontent" class="like" title="Like">
                                <a href="#" id="like_btn"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="ll"/>
                            </div>
                        {% endif %}
                    {% else %}
                        <div id="likecontent" class="like" title="Like">
                            <a class="fancybox" href="#loginerror"></a>
                        </div>
                    {% endif %}
                    <div class="rateholder">
                        {% if video.rating == 0 %}
                            <span class="average">N/A</span>
                        {% else %}
                            <span class="average">{{ video.rating }} %</span>
                        {% endif %}
                        <span class="nvotes">{{video.total_votes}} votes</span>
                    </div>
                    {% if request.user.is_authenticated %}
                        {% if vid_feel == 'D' %}
                            <div id="dislikecontent" class="dislike" title="Not like">
                                <a href="#" id="dislike_btn" class="active"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="dl"/>
                            </div>
                        {% else %}
                            <div id="dislikecontent" class="dislike" title="Not like">
                                <a href="#" id="dislike_btn"></a>
                                <img src="{{ STATIC_URL }}img/loader.gif"class="load" id="dl"/>
                            </div>
                        {% endif %}
                    {% else %}
                        <div id="dislikecontent" class="dislike" title="Not like">
                            <a class="fancybox" href="#loginerror"></a>
                        </div>
                    {% endif %}
                </div>
                <!-- verify auth to enable rating-->
                <ul id="sociallist" >
                    {% if request.user.is_authenticated %}
                        <li id="addplay-btn" class="playlist ">
                            <a href="#" title="Add this video to a playlist">Playlist <span><i class="icon-list"></i></span></a>
                        </li>
                        {% if bookmarked_vid %}
                            <li class="bookmark">
                                <a href="#" id="bookmark_btn" class="inactive" title="Remove from bookmarks">Bookmark <span><i class="icon-minus"></i></span></a>
                            </li>
                        {% else %}
                            <li class="bookmark">
                                <a href="#" id="bookmark_btn" class="active" title="Save this video to watch later">Bookmark <span><i class="icon-plus"></i></span></a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="playlist">
                            <a class="fancybox" href="#loginerror" >Playlist  <span><i class="icon-list"></i></span></a>
                        </li>
                        <li class="bookmark">
                            <a class="fancybox" href="#loginerror" >Bookmark</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="social-share">
                            <p><span>Share</span> video</p>
                            <!-- Facebook button-->
                            <a href="#" class="faceb" id="fb_share_btn" title="Share on Facebook"></a>
                            <!-- Google button-->
                            <a href="#" class="google" id="gp_share_btn">
                                <img src="https://www.gstatic.com/images/icons/gplus-32.png" title="Share on Google+"/>
                            </a>
                            <!-- Reddit button-->
                            <a href="#" class="redd" id="rdt_share_btn" title="Share to Reddit"></a>
                        </div>
                    </li>
                </ul>
                <div class="nviews">
                    <p>{{ video.views }} <span>views</span></p>
                </div>
                <div id="addtoplaycontent" class="addtoplaylist">
                    <form id="playlistform" action="{% url create_playlist %}" method="post">{% csrf_token %}
                        <input id="id_title" type="text" name="title" maxlength="255" placeholder="Create a new playlist">
                        <input type="submit" id="sub" value="Create playlist" />
                        <div class="feedback"><p id="feedback" class="helptextred"> </p></div>
                    </form>
                    <h2>Click on a playlist to add the video:</h1>
                    <div class="playlistul divscroll">
                        <ul id="playlistul">
                            {% for playlist in user.profile.playlists.all %}
                                <li data-playlist-id="{{ playlist.id }}" class="active">{{ playlist.title }} ({{ playlist.videos.count }})</li>
                            {% empty %}
                                <li>No playlists found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div><!-- end social -->
            <div id="affiliate"></div>
            <div class="comments">
                <h1>Comments</h1>
                {% load comments %}
                {% get_comment_count for video as comment_count %}
                {% if comment_count %}
                    <span class="nrcom">{{ comment_count }} comments</span>
                {% endif %}
                {% if request.user.is_authenticated %}
                    {% get_comment_form for video as comm_form %}
                    <div class="commentform">
                        <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            {{ comm_form.comment }}
                            {{ comm_form.honeypot }}
                            {{ comm_form.content_type }}
                            {{ comm_form.object_pk }}
                            {{ comm_form.timestamp }}
                            {{ comm_form.security_hash }}
                            <input type="hidden" name="next" value="{{ video.get_absolute_url }}" />
                            <input type="submit" value="Add comment" id="id_submit" />
                        </form>
                    </div>
                {% else %}
                    <p>Please <a class="fancybox" href="#loginerror">log in</a> to leave a comment.</p>
                {% endif %}
                <div class="commentlist">
                {% get_comment_list for video as comments %}
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <a href="{{ comment.user.profile.get_absolute_url }}">
                                    <img src="{% thumbnail comment.user.profile.picture 80x60 crop %}" />
                                </a>
                                <a href="{{ comment.user.profile.get_absolute_url }}">
                                    {{comment.user.username}}
                                </a>
                                <span>{{comment.submit_date}}</span>
                                <p>{{comment.comment}}</p> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- end comments -->
        </div>
        <div class="col span_2_of_6 nosectionspace">
        </div>
    </div>
</div> <!-- end video detail-->
<div id="loginerror" style="display: none;">
    <h3>You must be logged in to have access to this option</h3>
    {% include "registration/login-er.html" %}
</div> <!-- end loginerror-->
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/video_detail.js"></script>
{% endblock %}
