{% extends 'base.html' %}

{% block content %}
    {% if query %}
     <h1>Results</h1>
     <br/>
        <h2>You searched for <span>{{ query }}</span>.</h2>
       
    <div class="section group">
        {% for result in page.object_list %}
            {% if result.model_name == 'collection' %}
                <div class="col span_1_of_6 col1">
                    <div class="collection-content">
                        <div class="coll-pic-content">
                            <a href="{{ result.object.get_absolute_url }}">
                                <img src="{{ result.object.picture.url }}">
                            </a>
                        </div>
                        <div class="coll-name-content">
                            <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col span_1_of_6 col1">
                    <div class="collection-content">
                        <div class="coll-pic-content">
                            <a href="{{ result.object.get_absolute_url }}">
                                <img src="{{ result.object.picture.url }}">
                            </a>
                        </div>
                        <div class="coll-name-content">
                            <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                        </div>
                        <div class="coll-detail-content">
                        <div class="section group">
                            <div class="col span_1_of_4_coll_det vlength">
                                <p>{{ result.object.duration }}</p> <span>Length</span>
                            </div>
                            <div class="col span_2_of_4_coll_det nviews">
                                <p>{{ result.object.views }}</p> <span>Views</span>
                            </div>
                            <div class="col span_1_of_4_coll_det rating">
                                <p>{{ result.object.rating }} %</p>
                                <span>Rating</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p>No results found.</p>
            {% if suggestion %}
                <p>Did you mean <a href="{% url haystack_search %}?q={{ suggestion }}">{{ suggestion }}</a>?</p>
            {% endif %}
        {% endfor %}
</div>
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>Insert the terms into the search field.</p>
    {% endif %}
{% endblock %}
