{% extends 'base.html' %}

{% block content %}
    {% if query %}
    <h1>Results</h1>
    <br/>
        <h5>You searched for <span>{{ query }}</span>. </h5>
      
    <div class="section group">
        <div class="col span_4_of_6">
        {% for result in page.object_list %}
            {% if result.model_name != 'collection' %}
                <div class="col span_4_of_4 col1 search-content">
                    <div class="section group">
                        <div class="col span_1_of_4 search-pic-content">
                             <a href="{{ result.object.get_absolute_url }}">
                                <img src="{{ result.object.picture.url }}">
                            </a>
                            <p class="duration">{{ result.object.duration }}</p>
                        </div>
                        <div class="col span_3_of_4 search-info-content">
                            <a class="title" href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                            
                            <a class="title-collection" href="{{ result.object.collection.get_absolute_url }}">{{ result.object.collection.name }}</a>
                            <p>{{ result.object.views }}</p><span>Views</span>
                            <p>{{ result.object.rating }} %</p><span>Rating</span>    
                        </div>
                    </div>
                </div>
            {% endif %}
            {% empty %}
            <p>No results found.</p>
            {% if suggestion %}
                <p>Did you mean <a href="{% url haystack_search %}?q={{ suggestion }}">{{ suggestion }}</a>?</p>
            {% endif %}
        {% endfor %}
        </div>
        <div class="col span_2_of_6">
         {% for result in page.object_list %}
            {% if result.model_name == 'collection' %}
                <div class="col span_2_of_2 col1 search-collection">
                    <a class="name" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
                    <p class="role">{{ result.object.get_role_display|title }}</p>
                    {% load thumbnail %}
                    <a href="{{ result.object.get_absolute_url }}">
                        <img src="{% thumbnail result.object.picture 315x150 crop %}">
                    </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
            
        
</div>
        <div class="detail-pagination">
            {% include "pagination.html" %}
        </div>
    {% else %}
        <p>Insert the terms into the search field.</p>
    {% endif %}

{% endblock %}
