{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div id="collection_detail">
	<div class="info"id="info">
		<div class="image">
			<img src="{{ collection.picture.url }}" width="300px" height="200px">
		</div>
		<div class="basic">
			<h1>{{ collection.name }}</h1>
		<div class="description_content" id="desc_content">
			{{ collection.description }}
		</div>
		</div>
	</div> <!-- end info-->
<div class="videos">
{% for video in collection.videos.all %}
	<div class="collection-content">
		<div class="coll-pic-content">
			<a href="{{ video.get_absolute_url }}">
				<img src="{{ video.picture.url }}"></a>
		</div>
		<div class="coll-name-content">
            <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
            </div>
	</div>
	{% endfor %}
<div class="detail-pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div><!-- end videos-->
</div> <!-- end collection detail-->

{% endblock %}

