{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div id="collection_detail">
	<div class="info"id="info">
		<div class="image">
			<img src="{{ collection.picture.url }}" width="300px" height="200px">
		</div>
		<div class="basic">
			<h1>{{ collection.name }}</h1>
		<div class="description_content" id="desc_content">
			{{ collection.description }}
		</div>
		</div>
	</div> <!-- end info-->
<div class="videos">
{% for video in videos %}
	<div class="collection-content">
		<div class="coll-pic-content">
			<a href="{{ video.get_absolute_url }}">
				<img src="{{ video.picture.url }}">
            </a>
		</div>
		<div class="coll-name-content">
            <a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
        </div>
        <div class="coll-detail-content">
            <div class="vlength">
            <p>{{ video.duration }}</p> <span>Length</span>
            </div>
            <div class="nviews">
                <p>{{ profile.views }}</p> <span>Views</span>
            </div>
            <div class="rating">
            <p>78%</p>
            <span>Rating</span>
            </div>
        </div>
	</div>
	{% endfor %}


</div><!-- end videos-->
<div class="detail-pagination">
    {% include "pagination.html" %}
</div>
</div> <!-- end collection detail-->
<!-- 
<script>
  $(function () {
            $('div.description_content').expander({
                slicePoint: 200,
                expandText: 'Read More...',
                userCollapseText: 'Close'
            });
        });
</script>-->
{% endblock %}

