{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div id="collection_detail">
	<div class="info"id="info">
		<div class="image">
			<img src="{{ collection.picture.url }}" width="300px" height="200px">
		</div>
		<div class="basic">
			<h1>{{ collection.name }}</h1>
		<div class="description_content" id="desc_content">
			{{ collection.description }}
		</div>
		</div>
	</div> <!-- end info-->
<div class="videos">
{% for video in collection.videos.all %}
	<div class="collection-content">
		<div class="coll-pic-content">
			<a href="{{ collection.videos.get_absolute_url }}">
				<img src="{{ video.picture.url }}"></a>
		</div>
		<div class="coll-name-content">
            <a href="{{ collection.videos.get_absolute_url }}">{{ video.title }}</a>
            </div>
	</div>
	{% endfor %}

</div><!-- end videos-->
</div> <!-- end collection detail-->
<script>
  $(function () {
            $('div.description_content').expander({
                slicePoint: 200,
                expandText: 'Read More...',
                userCollapseText: 'Close'
            });
        });
</script>
{% endblock %}

