{% extends "base.html" %}
{% block title %} Comedians {% endblock %}
{% block comedians %}
<div id="firstpage">
     <!-- #Left Column -->
	 <div id="left-column">
<div class="sidebar2">
<p>Welcome! We're building things right now, so that you have a place where you find comedy that you enjoy. Stay tuned!</p>
</div> 
	</div>

	<!-- #Center Column -->
	<div id="center-column">
<div class="sidebar3">

</div>  
	</div>

	<!-- #Right Column -->
	<div id="right-column">
<div class="sidebar4">

</div> 
	</div>
    
</div>

{% endblock %}
