{% extends "base.html" %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}

<div id="video_detail">
	<div class="video">
		<div class="mediaplayer">
			<div id='mediaplayer'></div>
				<script type="text/javascript">
				  jwplayer('mediaplayer').setup({
					'flashplayer': '{{ STATIC_URL }}mediaplayer/player.swf',
					'id': 'playerID',
					'autostart': 'false',
					'volume': '80',
					'width': '700',
					'height': '400',
					'skin': '{{ STATIC_URL }}mediaplayer/skins/modieus.zip',
					'file': '{{ video.url }}'
				  });
				</script>
		</div>
	</div> <!-- end video-->
    
	<div class="video-related">
	<h4>Related</h4>
        {% load thumbnail %}
        <ul>
        {% for rel_video in related_videos %}
            <li>
				
					<div class="image">
						<a href="{{ rel_video.get_absolute_url }}"><img src="{% thumbnail rel_video.picture 90x60 crop %}" /></a>
					</div>
					<div class="title">
						<a href="{{ rel_video.get_absolute_url }}">{{ rel_video.title }}</a>
					</div>
					<div class="nviews">
						<p>{{ rel_video.views }} <span>views</span></p>
					</div>
				
			</li>
        {% empty %}
            <p>No related videos</p>
        {% endfor %}
        </ul>
	</div><!-- end video-related -->
	<div class="affiliate">
		affiliate
	</div><!-- end affiliate -->
	<div class="social">
	
		<div class="rating">
			<div id="likecontent" class="like" title="Like">
			{% if request.user.is_authenticated %}
				<a href="#" id="like_btn">
                </a>
				{% else %}
				<a class="fancybox" href="#loginerror"></a>
				{% endif %}
				
               <!-- { if vid_feel == 'L' %}
                    <p>You like</p>
                { else %}
                    { if vid_feel == 'D' %}
                        <p>don't like </p>
                    { else %}
                        <p> no opinion</p>
                    { endif %} 
                { endif %}-->
			</div>
			<div class="rateholder">
				<span class="average">{{ video.rating }} %</span>
				<span class="nvotes">{{video.likes }}+ {{video.dislikes}} votes</span>
			</div>	
			<div class="dislike" title="Not like">
				{% if request.user.is_authenticated %}
                    {% if vid_feel == 'D' %}
                        <a href="#" id="dislike_btn"></a>
                        {% else %}
                        <a href="#" id="dislike_btn"></a>
                    {% endif %}
                
                
				{% else %}
				<a class="fancybox" href="#loginerror"></a>
				{% endif %}
			</div>
		</div>
			
		
		<!-- verify auth to enable rating-->
		<ul id="sociallist" >
			{% if request.user.is_authenticated %}
				<li id="addplay-btn" class="playlist ">
					<a href="#" title="Add this video to a playlist">Add to Playlist</a>
				</li>
               
                    <li class="bookmark">
                        <a href="#" id="bookmark_btn" title="Save this video to watch later">Bookmark</a>
                    </li>
            
                    
			{% else %}
				<li class="playlist ">
					<a class="fancybox" href="#loginerror" >Add to Playlist</a>
				</li>
				<li class="bookmark">
					<a class="fancybox" href="#loginerror" >Bookmark</a>
				</li>
			{% endif %}
			<li>
				<div class="social-share">
					<p><span>Share</span> video</p>
					<!-- Facebook button-->
					<a href="#" class="faceb" id="fb_share_btn" title="Share to Facebook"></a>
					<!-- Google button-->
					<a href="https://plus.google.com/share?url={{ request.get_host }}{{ request.path }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="google"><img
  src="https://www.gstatic.com/images/icons/gplus-32.png" title="Share on Google+"/>
					</a>
					<!-- Reddit button-->				
					<a href="http://www.reddit.com/submit?url={{ request.get_host }}{{ request.path }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=700,width=550');return false;" class="redd" title="Share to Reddit"></a>
				
						<script type="text/javascript">
							$(document).ready(function(){
							$('#fb_share_btn').click(function(e){
							e.preventDefault();
							FB.ui(
							{
							method: 'feed',
							name: '{{video.collection.name}} - {{ video.title}}',
							link: '{{ request.get_host }}{{ request.path }}',
							picture: '{{ request.get_host }}{{ video.picture.url }}',
							caption: '{{ request.get_host }}{{ request.path }}',
							description: 'Watch more {{video.collection.name}} videos at {{ request.get_host }}, the biggest comedy collection.',
							message: ''
							});
							});
							});
						</script>
				</div>
			</li>
		</ul > 
			<div class="nviews">
			<p>{{ video.views }} <span>views</span></p>
		</div>
		<div id="addtoplaycontent" class="addtoplaylist">
		Here Will be the list of playlists where you can add this video. Also, here should be created new playlists
		</div>
	
			
<script type="text/javascript">

(function($) {
    $("#addplay-btn").click(function() {
        if ( $("#addtoplaycontent").is(":hidden") ) {
            $("#addtoplaycontent").slideDown("normal"); 
			 } else {
            $("#addtoplaycontent").slideUp("normal");
        }
    });
})(jQuery);
$(document).ready(function() {
		$(".fancybox").fancybox();
	});
$(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 400,
		maxHeight	: 400,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
	
	</div><!-- end social -->
	<div class="comments">
		<h1>Comments</h1>
        {% load comments %}
        {% get_comment_count for video as comment_count %}
        {% if comment_count %}
            <span>{{ comment_count }} comments</span>
        {% endif %}
		 {% if request.user.is_authenticated %}
            {% get_comment_form for video as comm_form %}
			<div class="commentform">
            <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ comm_form.comment }}
                {{ comm_form.honeypot }}
                {{ comm_form.content_type }}
                {{ comm_form.object_pk }}
                {{ comm_form.timestamp }}
                {{ comm_form.security_hash }}
                <input type="hidden" name="next" value="{{ video.get_absolute_url }}" />
                <input type="submit" value="Add comment" id="id_submit" />
            </form>
			</div>
        {% else %}
            <p>Please <a class="fancybox" href="#loginerror">log in</a> to leave a comment.</p>
        {% endif %}
		<div class="commentlist">
		{% get_comment_list for video as comments %}
		<ul>
		{% for comment in comments %}
			<li>
				<p>{{comment.comment}}</p> 
				<div class="head">
					<a href="{{comment.user_url}}">{{comment.user_name}}</a>
					{{comment.submit_date}}
				</div>
			</li>
		{% endfor %}
		</ul>
       </div>
	</div><!-- end comments -->
</div> <!-- end video detail-->
		<div id="loginerror" style="width:292px;display: none;">
		<h3>You must be logged in to have access to this option</h3>
			{% include "registration/login-er.html" %}
			</div> <!-- end loginerror-->
            
 <script>
 $(document).ready(function() { 
  $('#like_btn').click(function() {
    $.ajax({
      type: 'POST',
      url: '/u/vfeel',
      data: {'vid': {{ video.id }}, 'feeling': 'L'},
      success: function() {
       alert('OK');
  }
    }).error (function(){
    alert('Eroare');
    });
  });
   $('#dislike_btn').click(function() {
    $.ajax({
      type: 'POST',
      url: '/u/vfeel',
      data: {'vid': {{ video.id }}, 'feeling': 'D'},
      success: function() {
    $('.dislike').html(data);
    alert('Load was performed.');
  }
    });
  });
  $('#bookmark_btn').click(function() {
    $.ajax({
      type: 'POST',
      url: '/u/bookmark',
      data: {'id': {{ video.id }}, 'obj': 'V'},
      success: function() {
       alert('OK');
  }
    }).error (function(){
    alert('Eroare');
    });
  });
 });
 </script>
{% endblock %}

