{% extends "base.html" %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
<div id="video_detail">
	<div class="video">
		<!--<div class="topvideo">
			<div class="previous"><a href="#">Previous</a></div>
			<div class="title"><h1>{{ video.title }}</h1></div>
			<div class="next"><a href="#">Next</a></div>
		</div>-->
		<div class="mediaplayer">
			<div id='mediaplayer'></div>
				<script type="text/javascript">
				  jwplayer('mediaplayer').setup({
					'flashplayer': '{{ STATIC_URL }}mediaplayer/player.swf',
					'id': 'playerID',
					'autostart': 'false',
					'volume': '80',
					'width': '700',
					'height': '400',
					'skin': '{{ STATIC_URL }}mediaplayer/skins/modieus.zip',
					'file': '{{ video.url }}'
				  });
				</script>
		</div>
	</div> <!-- end video-->
	<div class="video-related">
		related
	</div><!-- end video-related -->
	<div class="affiliate">
		affiliate
	</div><!-- end affiliate -->
	<div class="social">
	<ul id="sociallist">
		<li class="like"><a href="" ></a></li>
		<li class="dislike"><a href="" ></a></li>
		<li class="playlist leftmargin20"><a href="#" ></a></li>
		<li><div class="social-share leftmargin20"></div></li>
	</ul > 
		<!--<div class="likerating">
			<a href="#" class="uplike">
				<span >Like</span
			</a>
			<div class="ratingbar"></div>
			<a href="#" class="downlike"></a>
		</div> -->
	</div><!-- end social -->
	<div class="comments">
		Comments
	</div><!-- end comments -->
</div> <!-- end video detail-->
	
{% endblock %}

